/*Dashboard*/
.dashboard{
	text-align: center;
}

.icon-wrapper{
    display: grid;
    grid-template-columns: 1fr; 
    gap: 20px;
    justify-items: center;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

.icon-wrapper img{
	height: 32px;
	width: 32px;
    margin-bottom: 10px;
}
.icon-wrapper div{
	display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.profile-dash-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
}

/*avatar*/
.avatar{
   
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: var(--primary-color);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 1px;
}

@media  (min-width: 750px) {
    
  .icon-wrapper img{
        height: 96px;
        width: 96px;
    }
    .icon-wrapper {
        grid-template-columns: repeat(3, 100px); 
        justify-content: center;  
        gap: 50px;
    }
    .icon-wrapper > div:nth-last-child(1),
    .icon-wrapper > div:nth-last-child(2) {
        margin-left: 140px;
    }
 
}