html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

/* Background utility class */
.bg-neutral-light-gray {
	background-color: var(--color-neutral-gray);
}

/* Header */

header {
	margin-bottom: 25px;
	border: var(--color-neutral-medium-gray);
	border-style: inset;
	border-width: 0.5px;
	
	position: sticky;
	top: 0;
	z-index: 9; 
	background: var(--color-neutral-gray);
}

/* Footer */

footer {
	display: flex;
	flex-direction: row;
	height: 100%;
}