html,
body {
	height: 100%;
	margin: 0;
}

/* Header */

header {
	margin-bottom: 25px;
	border: var(--color-neutral-medium-gray);
	border-style: inset;
	border-width: 0.5px;
}

.HeaderLogo {
	width: 120px;
}

.UserLogo {
	width: 60px;
	height: 60px;
	justify-items: center;
}

/* /header */

/* footer */

footer {
	display: flex;
	flex-direction: row;
	height: 100%;
}

footer img {
	height: 250px;
	min-width: 350px;
}

@media (max-width: 424px) {
	footer img {
		width: 100%;
		min-width: 1px;
	}
}