/* Landing page */

.hero {
  height: 720px;
  background-image: url("/public/img/heroimage-edugate.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  text-align: center;
  color: #000;
  max-width: 600px;
}

.hero-content h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
}

.hero-content p {
  font-size: 16px;
  margin-bottom: 24px;
}

.hero-buttons {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.btn {
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
}

.btn.green {
  background: #4caf50;
  color: white;
}

.btn.blue {
  border: 2px solid #2196f3;
  color: #2196f3;
}
