<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../dist/output.css">
    <title>Profile</title>
</head>
<body class="mx-auto bg-neutral-light-gray max-w-[1440px] w-full pl-0 pr-0 md:pl-[80px] md:pr-[80px]">
    <header class="bg-neutral-light-gray text-neutral-dark-gray border-b-1 border-[#cccccc] font-Poppins">
        <nav
          class="max-w-7x1 flex items-center justify-between px-4 border-b border-[#75757548] md:border-0"
        >
          <img
            class="-ml-4 md:ml-10 md:mr-auto w-25 md: lg:w-auto -mb-3.5 -mt-4 md:-mb-0 md:-mt-0"
            src="../../public/img/logo-header.png"
            alt="Edugate Logo"
          />
          <!-- Hamburger Menu -->
          <div class="md:hidden">
            <!-- Checkbox for Hamburger Toggle -->
            <input type="checkbox" id="menu-toggle" class="hidden peer" />
            <!-- Hamburger Icon -->
            <label
              for="menu-toggle"
              class="absolute top-2 right-2 cursor-pointer focus:outline-none peer-checked:hidden"
              aria-label="Toggle menu"
            >
              <svg
                class="w-12 h-12"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 6h16M4 12h16m-7 6h7"
                />
              </svg>
            </label>
            <div
              class="fixed inset-0 bg-white text-neutral-dark-gray z-50 transform translate-x-full peer-checked:translate-x-0 transition-transform duration-300"
            >
              <!-- Close Icon -->
              <label
                for="menu-toggle"
                class="absolute top-4 right-4 cursor-pointer focus:outline-none"
                aria-label="Close menu"
              >
                <svg
                  class="w-10 h-10"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="4"
                    d="M6 18L18 6M6 6l12 12"
                  />
                </svg>
              </label>
  
              <!-- Logo top left -->
              <div class="h-[70px] bg-gray-100 flex items-center px-4">
                <img
                  class="mml-4 mr-4 w-[100px] -mb-5 -mt-5"
                  src="../../public/img/logo-header.png"
                  alt="Edugate Logo"
                />
              </div>
  
              <!-- Hamburger Menu -->
              <ul
                class="flex flex-col items-end justify-start mt-8 h-full gap-10 text-xl mr-2"
              >
                <li>
                  <a
                    href="#"
                    aria-label="Go to dashboard"
                    class="flex items-center gap-5 p-3 border-b-2 border-white hover:border-primary"
                  >
                    Dashboard
                    <img
                      class="w-8 h-8"
                      src="../../public/icons/dashboard.png"
                      alt="Dashboard Icon"
                    />
                  </a>
                </li>
                <li>
                  <a
                    href="#"
                    aria-label="Go to your profile"
                    class="flex items-center gap-5 p-3 border-b-2 border-white hover:border-primary"
                  >
                    Profile
                    <img
                      class="w-8 h-8"
                      src="../../public/icons/user-circle.png"
                      alt="Profile Icon"
                    />
                  </a>
                </li>
                <li>
                    <a
                      href="#"
                      aria-label="Manage user"
                      class="flex items-center gap-5 p-3 border-b-2 border-white hover:border-primary"
                    >
                      Manage User
                      <img
                        class="w-8 h-8"
                        src="../../public/icons/user-management.png"
                        alt="Profile Icon"
                      />
                    </a>
                  </li>
                <li>
                  <a
                    href="#"
                    aria-label="About us"
                    class="flex items-center gap-5 p-3 border-b-2 border-white hover:border-primary"
                  >
                    About
                    <img
                      class="w-8 h-8"
                      src="../../public/icons/about.png"
                      alt="About Icon"
                    />
                  </a>
                </li>
                <li>
                  <a
                    href="#"
                    aria-label="Contact us"
                    class="flex items-center gap-5 p-3 border-b-2 border-white hover:border-primary"
                  >
                    Contact
                    <img
                      class="w-8 h-8"
                      src="../../public/icons/contact.png"
                      alt="Contact Icon"
                    />
                  </a>
                </li>
                <div class="w-full border-t border-gray-200 mt-23"></div>
                <li>
                  <a
                    href="#"
                    aria-label="Log out"
                    class="flex items-center gap-5 pl-3 border-b-2 border-white hover:border-accent-hover"
                  >
                    Log out
                    <img
                      class="w-8 h-8"
                      src="../../public/icons/logout.png"
                      alt="Log out Icon"
                    />
                  </a>
                </li>
              </ul>
            </div>
          </div>
  
          <!-- Dashboard Nav -->
          <ul
            class="hidden md:flex font-Poppins font-semibold text-base lg:text-xl"
          >
            <li
              class="md:w-[140px] lg:w-[200px] xl:w-[248px] h-[74px] text-center flex items-center justify-center hover:border-b-1 hover:border-primary border-transparent transition duration-700 ease-in-out"
            >
              <a href="#" aria-label="Go to dashboard" class="tracking-[0.5px]">
                Dashboard</a
              >
            </li>
            <li
              class="md:w-[140px] lg:w-[200px] xl:w-[248px] h-[74px] text-center flex items-center justify-center hover:border-b-1 hover:border-primary border-transparent transition duration-700 ease-in-out"
            >
              <a
                href="../about.html"
                aria-label="About us"
                class="tracking-[0.5px]"
              >
                About</a
              >
            </li>
            <li
              class="md:w-[140px] lg:w-[200px] xl:w-[248px] h-[74px] text-center flex items-center justify-center hover:border-b-1 hover:border-primary border-transparent transition duration-700 ease-in-out"
            >
              <a
                href="../contact.html"
                aria-label="Contact us"
                class="tracking-[0.5px]"
              >
                Contact</a
              >
            </li>
          </ul>
          <!-- User Dropdown -->
          <div class="relative">
            <!-- Hidden Checkbox -->
            <input type="checkbox" id="dropdown-toggle" class="hidden peer" />
  
            <!-- User Icon (Clickable) -->
            <label
              for="dropdown-toggle"
              aria-expanded="false"
              class="hidden md:flex w-[50px] h-[50px] lg:w-[64px] lg:h-[64px] mr-4 lg:mr-10 cursor-pointer focus:outline-2 focus:outline-offset-2"
            >
              <img src="../../public/icons/user-circle.png" alt="User dropdown" />
            </label>
  
            <!-- Dropdown Menu -->
            <ul
              class="absolute right-0 mr-8 w-40 text-center border bg-neutral-light-gray border-neutral-light-gray rounded-lg shadow-lg opacity-0 invisible peer-checked:opacity-100 peer-checked:visible transition-opacity duration-200"
            >
              <li>
                <a
                  href="#"
                  aria-label="View results"
                  class="block px-8 py-4 hover:bg-white hover:text-green-600"
                  >See results</a
                >
              </li>
              <li>
                <a
                  href="#"
                  aria-label="Go to your profile"
                  class="block px-8 py-4 hover:bg-white border-y-2 border-white hover:text-green-600"
                  >Profile</a
                >
              </li>
              <li>
                <a
                  href="#"
                  aria-label="Log out"
                  class="block px-8 py-4 hover:bg-white hover:text-red-600"
                  >Log out</a
                >
              </li>
            </ul>
          </div>
        </nav>
      </header>

    <div class="flex bg-neutral-light-gray pl-5 sm:pt-20 md:pl-0">
        <p class="text-neutral-medium-gray font-Roboto text-base font-normal">Dashboad</p>
        <p class="text-neutral-medium-gray font-Roboto text-base font-normal mx-4">></p>
        <p class="text-primary font-Roboto text-base font-normal">Profile</p>
    </div>
    <main class="flex items-center justify-center bg-neutral-light-gray">
        <div class="bg-neutral-light-gray sm:shadow-none shadow-lg border-2 border-neutral-medium-gray p-8 w-[361px] sm:w-[612px] text-center mb-20 mt-4">
            <h1 class="text-black text-center font-Poppins text-xl sm:text-[32px] font-bold tracking-wide mb-4 mt-0 sm:mt-8">Profile</h1>
            <div class=" mb-8 w-18 h-18 sm:w-32 sm:h-32 mx-auto rounded-full bg-primary sm:border-1 sm:border-neutral-medium-gray flex items-center justify-center text-white sm:text-black text-[32px] font-bold">
                JB
            </div>
            <section class="flex flex-col justify-center items-center">
                <div class="mt-4 grid sm:grid-cols-2 grid-cols-[1fr_2fr] sm:gap-y-4 text-left mb-16 text-[16px]">
                    <strong class="mb-6 sm:ml-35">Name:</strong>
                    <span class="text-left sm:text-left sm:ml-10">Joe Bloggs</span>
                    <strong class="mb-6 sm:ml-35">Email:</strong>
                    <span class="text-left sm:text-left sm:ml-10">joeblog2020@edugate.no</span>
                    <strong class="mb-6 sm:ml-35">
                        <span class="block sm:hidden">DOB:</span>
                        <span class="hidden sm:block">Date og birth:</span>
                    </strong>
                    
                    <span class="text-left sm:text-left sm:ml-10">01.01.1987</span>
                    <strong class="mb-6 sm:ml-35">Position:</strong>
                    <span class="text-left sm:text-left sm:ml-10">Administator</span>
                    <strong class="mb-6 sm:ml-35">School:</strong>
                    <span class="text-left sm:text-left sm:ml-10">The Academy</span>
                </div>
                <div class="">
                    <button
                    class="block mx-auto border-2 border-secondary h-[44px] sm:h-[59px] w-[195px] sm:w-[190px] 
                    text-secondary md:text-xl text-base rounded-md font-semibold 
                    hover:bg-secondary-hover font-Poppins cursor-pointer md:tracking-[0.03125rem] md:px-0 px-14">
                    Edit Profile
                  </button>
            </section>
        </div>
    </main>
    <footer class="flex justify-end sm:justify-center">
        <img class="sm:hidden" src="../../public/img/Circles illustration mobile.png" alt="Edugate footer circles">
        <img class="hidden sm:block shrink-0 mx-4 mt-8" src="../../public/img/circle-footer.png" alt="Edugate footer circles">
    </footer>
</body>
</html>