<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Teacher profile page for Edugate webpage.">
    <link rel="stylesheet" href="../../dist/output.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Dashboard Teacher Page</title>
</head>
<body class="bg-neutral-light-gray">
<header class="bg-neutral-light-gray text-neutral-dark-gray font-Poppins">
    <nav class="max-w-7x1 flex items-center justify-between px-4">
        <img class="ml-4 mr-16" src="../../public/img/logo-header.png" alt="Edugate Logo">
    
        <!-- Hamburger Menu -->
        <div class="fixed inset-0 md:hidden">
        <!-- Checkbox for Hamburger Toggle -->
        <input type="checkbox" id="menu-toggle" class="hidden peer"/>
        <!-- Hamburger Icon -->
        <label for="menu-toggle" class="absolute top-14 right-4 cursor-pointer focus:outline-none peer-checked:hidden" aria-label="Toggle menu">
            <svg class="w-16 h-16" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"/>
            </svg>
        </label>
    
        <div class="fixed inset-0 bg-white text-neutral-dark-gray z-50 transform translate-x-full peer-checked:translate-x-0 transition-transform duration-300">
            <!-- Close Icon -->
            <label for="menu-toggle" class="absolute top-4 right-4 cursor-pointer focus:outline-none" aria-label="Close menu">
            <svg class="w-12 h-12 mt-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
            </label>
    
            <ul class="flex flex-col items-end justify-start mt-40 h-full gap-10 text-xl mr-8">
            <li>
                <a href="#" class="flex items-center gap-5 p-3 border-b-2 border-white hover:border-primary">
                Dashboard
                <img class="w-6 h-6" src="../public/icons/dashboard.png" alt="Dashboard Icon">
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center gap-5 p-3 border-b-2 border-white hover:border-primary">
                Profile
                <img class="w-6 h-6" src="../public/icons/user-circle.png" alt="Profile Icon">
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center gap-5 p-3 border-b-2 border-white hover:border-primary">
                Manage user
                <img class="w-6 h-6" src="../public/icons/user-management.png" alt="Manage user icon">
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center gap-5 p-3 border-b-2 border-white hover:border-primary">
                About
                <img class="w-6 h-6" src="../public/icons/about.png" alt="About Icon">
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center gap-5 p-3 border-b-2 border-white hover:border-primary">
                Contact
                <img class="w-6 h-6" src="../public/icons/contact.png" alt="Contact Icon">
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center gap-5 p-3 border-b-2 border-white hover:border-accent-hover">
                Log out
                <img class="w-6 h-6" src="../public/icons/logout.png" alt="Log out Icon">
                </a>
            </li>
            </ul>
        </div>
        </div>
    
        <ul class="hidden md:flex justify-end mr-10 font-Poppins font-medium">
        <li>
            <a href="#" class="py-8 md:px-8 px-16 border-b-2 border-neutral-light-gray hover:border-primary">
            Dashboard</a>
        </li>
        <li>
            <a href="../templates/about.html" class="py-8 md:px-8 border-b-2 border-neutral-light-gray hover:border-primary">
            About</a>
        </li>
        <li>
            <a href="../templates/contact.html" class="py-8 md:px-8 border-b-2 border-neutral-light-gray hover:border-primary">
            Contact</a>
        </li>
        </ul>
        <!-- User Dropdown -->
        <div class="relative">
        <!-- Hidden Checkbox -->
        <input type="checkbox" id="dropdown-toggle" class="hidden peer">
    
        <!-- User Icon (Clickable) -->
        <label
            for="dropdown-toggle"
            class="hidden md:flex w-14 h-14 mr-10 cursor-pointer"
        >
            <img src="../../public/icons/user-circle.png" alt="User dropdown">
        </label>
    
        <!-- Dropdown Menu -->
        <ul class="absolute right-0 mr-8 w-40 text-center border bg-neutral-light-gray border-neutral-light-gray rounded-lg shadow-lg opacity-0 invisible peer-checked:opacity-100 peer-checked:visible transition-opacity duration-200">
            <li>
            <a href="#" class="block px-8 py-4 hover:bg-white hover:text-green-600">See results</a>
            </li>
            <li>
            <a href="#" class="block px-8 py-4 hover:bg-white border-y-2 border-white hover:text-green-600">Profile</a>
            </li>
            <li>
            <a href="#" class="block px-8 py-4 hover:bg-white hover:text-red-600">Log out</a>
            </li>
        </ul>
        </div>
    </nav>
    </header>
    <main class="bg-neutral-light-gray">
        <div class="flex flex-col lg:flex-row justify-center items-center lg:w-full mx-auto">
            <!--Sidebar-->
            <div id="sidebar" class="hidden lg:flex flex-col gap-12 ml-4 ">
                <a href="templates/dashboard-teacher.html" class="flex items-center gap-4 hover:bg-neutral-light-gray p-3 rounded-lg">
                    <img class="cursor-pointer w-12" src="../../public/icons/dashboard.png" alt="Picture of a green home icon">
                </a>
                <a href="/templates/add-results.html" class="flex items-center gap-4 hover:bg-neutral-light-gray p-3 rounded-lg">
                    <img class="cursor-pointer w-12" src="../../public/icons/results.png" alt="Picture of a green results icon">
                </a>
                <a href="/templates/teacher-profile.html" class="flex items-center gap-4 hover:bg-neutral-light-gray p-3 rounded-lg">
                    <img class="cursor-pointer w-12" src="../../public/icons/user-management.png" alt="Picture of a green user icon">
                </a>
                <a href="/templates/top-performing-students.html" class="flex items-center gap-4 hover:bg-neutral-light-gray p-3 rounded-lg">
                    <img class="cursor-pointer w-12" src="../../public/icons/top-students.png" alt="Picture of a green student with a hat icon">
                </a>
                <a href="#" class="flex items-center gap-4 hover:bg-neutral-light-gray p-3 rounded-lg">
                    <img class="cursor-pointer w-12" src="../../public/icons/logout.png" alt="Picture of a red log out icon">
                </a>
            </div>

            <!--Mobile view-->
            <div class="md:hidden grid self-stretch h-[659px] flex-col gap-4 justify-items-center text-center">
                <h1 class="font-extrabold text-[32px]">Dashboard</h1>
                <div class="flex flex-col items-center gap-2">
                    <a href="/templates/teacher-profile.html" class="flex flex-col items-center">
                        <img class="w-[71px] h-[71px] mb-4 gap-4" src="/public/img/Student initials mobile.png" alt="Picture of a green circle with the initials JB">
                        <h2 class="font-bold text-xl">Joe Bloggs</h2>
                    </a>
                </div>
                <h3 class="text-sm">Teacher at Edugate School</h3>
                    <a href="/templates/select-user.html" class="flex flex-col items-center gap-2">
                        <img class="w-[42px] h-[42px]" src="/public/icons/results.png" alt="Picture of a green results icon">
                        <h4 class="text-sm">View results</h4>
                    </a>
                    <a href="/templates/add-results.html" class="flex flex-col items-center gap-2">
                        <img class="w-[48px] h-[46px]" src="/public/icons/add-results.png" alt="Picture of a green results icon with an add button">
                        <h4 class="text-sm">Add results</h4>
                    </a>
                    <a href="#" class="flex flex-col items-center gap-2">
                        <img class="w-[42px] h-[42px]" src="/public/icons/results.png" alt="Picture of an icon for grading assignments">
                        <h4 class="text-sm">Grade Assignments</h4>
                    </a>
                    <a href="#" class="flex flex-col items-center gap-2">
                        <img class="w-[42px] h-[42px]" src="/public/icons/add-results.png"
                            alt="Picture of an icon for reviewing submissions">
                        <h4 class="text-sm">Review Submissions</h4>
                    </a>
                    <a href="/templates/top-performing-students.html" class="flex flex-col items-center gap-2">
                        <img class="w-[42px] h-[42px]" src="/public/icons/top-students.png" alt="Picture og a green student with a hat icon">
                        <h4 class="text-sm">Top students</h4>
                    </a>
                    <a href="#" class="flex flex-col items-center gap-2">
                        <img class="w-[42px] h-[42px]" src="/public/icons/logout.png" alt="Picture of a red log out icon">
                        <h4 class="w-[90px] h-[30px] text-sm">Log out</h4>
                    </a>
            </div>

            <!--Desktop view-->
            <div class="md:grid hidden grid-cols-1 place-items-center w-full">
                <h1 class="font-extrabold text-3xl m-24">Dashboard</h1>
                <img class="mx-auto w-32 h-32" src="../../public/img/Student initials.png"
                    alt="Picture of a green circle with the initials JB">
                <h2 class="font-bold text-2xl m-12">Joe Bloggs</h2>
                <h3 class="h-[30px] text-center text-black text-base font-bold font-['Roboto'] leading-[1.50px]">Teacher at Edugate School</h3>
                <div class="grid grid-cols-3 gap-12 m-4 justify-items-center">
                    <div>
                        <a href="/templates/top-performing-students.html">
                            <img class="w-24 h-24 cursor-pointer" src="../../public/icons/top-students.png"
                                alt="Picture of a green student with a hat icon">
                            <h4 class=" text-black text-xl font-semibold font-['Poppins'] leading-[1.50px] tracking-wide mt-8">Top students</h4>
                        </a>
                    </div>
                    <div>
                        <a href="/templates/add-results.html">
                            <img class="cursor-pointer w-24 h-28" src="../../public/icons/add-results.png"
                                alt="Picture of a green results icon with an add button">
                            <h4 class="text-black text-xl font-semibold font-['Poppins'] leading-[1.50px] tracking-wide mt-4">Add results</h4>
                        </a>
                    </div>
                    <div>
                        <a href="/templates/select-user.html">
                            <img class="w-24 h-24 cursor-pointer" src="../../public/icons/results.png" alt="Picture of a green results icon">
                            <h4 class="text-black text-xl font-semibold font-['Poppins'] leading-[1.50px] tracking-wide mt-8">View results</h4>
                        </a>
                    </div>
                    <div>
                        <a href="#" class="flex flex-col items-center">
                            <img class="w-24 h-24 cursor-pointer" src="../../public/icons/results.png" alt="Grade assignments icon">
                            <h4 class="text-black text-xl font-semibold font-['Poppins'] leading-[1.50px] tracking-wide mt-6 text-center">
                                Grade Assignments
                            </h4>
                        </a>
                    </div>
                    
                    <div>
                        <a href="#" class="flex flex-col items-center">
                            <img class="w-24 h-24 cursor-pointer" src="../../public/icons/add-results.png" alt="Review submissions icon">
                            <h4 class="text-black text-xl font-semibold font-['Poppins'] leading-[1.50px] tracking-wide mt-6 text-center">
                                Review Submissions
                            </h4>
                        </a>
                        </div>
                        <div>
                        <a href="/templates/teacher-profile.html" class="flex flex-col items-center">
                            <img class="w-24 h-24 cursor-pointer" src="../../public/icons/user-circle.png" alt="Profile icon">
                            <h4 class="text-black text-xl font-semibold font-['Poppins'] leading-[1.50px] tracking-wide mt-6 text-center">
                                See Profile
                            </h4>
                        </a>
                    </div>
                    <div>
                        <a href="#" class="flex flex-col items-center">
                            <img class="w-24 h-24 cursor-pointer" src="../../public/icons/logout.png" alt="Picture of a red log out icon">
                            <h4 class="text-center text-black text-xl font-semibold font-['Poppins'] leading-[1.50px] tracking-wide mt-8">Log
                                out</h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="flex justify-end sm:justify-center sm:mt-10">
        <img class="sm:hidden" src="../../public/img/Circles_illustration_mobile.png" alt="Educate footer circles">
        <img class="hidden sm:block shrink-0 mx-4 mt-8" src="../../public/img/circle-footer.png" alt="Picture of a blue circle overlapping a green circle">
    </footer>    
</body>
</html>
