<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../dist/output.css">
  <title>Profile</title>
</head>

<body class="bg-neutral-light-gray">


  <!-- Suggestex fix for header!-->

  <header class="w-full bg-neutral-light-gray text-neutral-dark-gray font-Poppins border-b-1 border-[#cccccc]">
    <div class="w-full max-w-7xl mx-auto px-6">
      <nav class="flex w-full items-center justify-between">
        <img class="-ml-1 w-16 h-16 lg:hidden" src="../../public/img/logo-header-cropped.png" alt="Edugate Logo">
        <img class="w-44 h-44 hidden lg:block" src="../../public/img/logo-header.png" alt="Edugate Logo">
        <div class="relative lg:hidden ml-auto">
          <!--Checkbox for Hamburger Toggle-->
          <input type="checkbox" id="menu-toggle" class="hidden peer">
          <!--Hamburger Icon-->
          <label for="menu-toggle" class="block cursor-pointer focus:outline-none peer-checked:hidden"
            aria-label="Toggle menu">
            <img src="../../public/icons/hamburger-menu.png" alt="Hamburger Menu" class="w-[25px] h-[25px]">
          </label>
          <div
            class="fixed inset-0 bg-white text-neutral-dark-gray z-50 transform translate-x-full peer-checked:translate-x-0 transition-transform duration-300">
            <!--Close Icon-->
            <label for="menu-toggle" class="absolute top-4 right-4 cursor-pointer focus:outline-none"
              aria-label="Close menu">
              <svg class="w-12 h-12 mt-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
              </svg>
            </label>
            <ul
              class="flex flex-col items-end justify-start mt-40 h-full gap-10 text-xl mr-8 font-semibold text-[20px] text-neutral-dark-gray font-Poppins">
              <li>
                <a href="#"
                  class="flex items-center gap-5 p-3 border-b-2 border-white hover:border-primary">Dashboard<img
                    class="w-6 h-6" src="../../public/icons/dashboard.png" alt="Dashboard Icon"></a>
              </li>
              <li>
                <a href="#" class="flex items-center gap-5 p-3 border-b-2 border-white hover:border-primary">Profile<img
                    class="w-6 h-6" src="../../public/icons/user-circle.png" alt="Profile Icon"></a>
              </li>
              <li>
                <a href="#" class="flex items-center gap-5 p-3 border-b-2 border-white hover:border-primary">Manage
                  results
                  <img class="w-6 h-6" src="../../public/icons/results.png" alt="Manage results Icon">
                </a>
              </li>
              <li>
                <a href="#" class="flex items-center gap-5 p-3 border-b-2 border-white hover:border-primary">About<img
                    class="w-6 h-6" src="../../public/icons/about.png" alt="About Icon"></a>
              </li>
              <li>
                <a href="#" class="flex items-center gap-5 p-3 border-b-2 border-white hover:border-primary">Contact<img
                    class="w-6 h-6" src="../../public/icons/contact.png" alt="Contact Icon"></a>
              </li>
              <li>
                <a href="#" class="flex items-center gap-5 p-3 border-b-2 border-white hover:border-accent-hover">Log
                  out<img class="w-6 h-6" src="../../public/icons/logout.png" alt="Log out Icon"></a>
              </li>
            </ul>
          </div>
        </div>
        <ul class="hidden lg:flex items-center space-x-16 font-Poppins font-medium">
          <li>
            <a href="#"
              class="py-8 md:px-8 px-16 border-b-2 border-neutral-light-gray hover:border-primary font-Poppins font-semibold md:text-[20px] text-neutral-dark-gray">Dashboard</a>
          </li>
          <li>
            <a href="../templates/about.html"
              class="py-8 md:px-8 border-b-2 border-neutral-light-gray hover:border-primary font-Poppins font-semibold md:text-[20px] text-neutral-dark-gray">About</a>
          </li>
          <li>
            <a href="../templates/contact.html"
              class="py-8 md:px-8 border-b-2 border-neutral-light-gray hover:border-primary font-Poppins font-semibold md:text-[20px] text-neutral-dark-gray">Contact</a>
          </li>
          <!--User Dropdown-->
          <li class="relative">
            <!--Hidden Checkbox-->
            <input type="checkbox" id="dropdown-toggle" class="hidden peer">
            <!--User Icon (Clickable)-->
            <label for="dropdown-toggle" class="hidden lg:flex w-14 h-14 mr-10 cursor-pointer">
              <img src="../../public/icons/user-circle.png" alt="User dropdown">
            </label>
            <!--Dropdown Menu-->
            <ul
              class="absolute right-0 mr-8 w-40 text-center border bg-neutral-light-gray border-neutral-light-gray rounded-lg shadow-lg opacity-0 invisible peer-checked:opacity-100 peer-checked:visible transition-opacity duration-200">
              <li><a href="#" class="block px-8 py-4 hover:bg-white hover:text-green-600">See results</a>
              </li>
              <li><a href="#"
                  class="block px-8 py-4 hover:bg-white border-y-2 border-white hover:text-green-600">Profile</a>
              </li>
              <li><a href="#" class="block px-8 py-4 hover:bg-white hover:text-red-600">Log out</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <main class="w-full max-w-7xl mx-auto md:mb-8 px-6">
    <div class="flex mb-6 mt-3 gap-6 lg:mt-10 lg:ml-9 lg:mb-10">
      <a href="#" class="text-neutral-medium-gray font-Roboto font-normal text-[16px]">Dashboard</a>
      <p class="text-neutral-medium-gray font-Roboto font-bold text-[16px]">></p>
      <a href="#" class="text-[#4CAF50] font-Roboto font-medium text-[16px]">Profile</a>
    </div>

    <div class="flex justify-center sm:items-center">
      <section aria-labelledby="profile-heading"
        class="shadow-lg sm:shadow-none border-1 sm:border-2 border-neutral-medium-gray p-8 w-[361px] sm:w-[612px] text-center mb-10 sm:mb-20">
        <h1 id="profile-heading"
          class="text-neutral-dark-gray text-center font-Poppins text-[20px] sm:text-[32px] font-bold tracking-wide mt-0 sm:mt-6 mb-2 sm:mb-4">
          Profile
        </h1>
        <div
          class="w-18 h-18 sm:w-32 sm:h-32 mx-auto rounded-full bg-primary flex items-center justify-center text-white sm:text-black text-[32px] font-bold"
          role="img" aria-label="Profile initials: JB">
          <span aria-hidden="true">JB</span>
        </div>
        <dl
          class="mx-auto mt-4 mb-4 sm:mt-8 sm:mb-8 grid grid-cols-[1fr_2fr] sm:grid-cols-2 gap-y-2 sm:gap-y-4 text-left">
          <dt class="sm:ml-35 font-bold font-Roboto text-[14px] sm:text-[16px]">Name:</dt>
          <dd class="sm:ml-10 font-medium font-Roboto text-[14px] sm:text-[16px]">Joe Bloggs</dd>

          <dt class="sm:ml-35 font-bold font-Roboto text-[14px] sm:text-[16px]">Email:</dt>
          <dd class="sm:ml-10 font-medium font-Roboto text-[14px] sm:text-[16px]">
            <a href="mailto:joeblog2020@edugate.no"
              class="underline hover:text-primary focus:text-primary focus:outline-none">joeblog2020@edugate.no</a>
          </dd>

          <dt class="sm:ml-35">
            <span class="block sm:hidden font-bold font-Roboto text-[14px] sm:text-[16px]">DOB:</span>
            <span class="hidden sm:block font-bold font-Roboto text-[14px] sm:text-[16px]">Date of birth:</span>
          </dt>
          <dd class="sm:ml-10 font-medium font-Roboto text-[14px] sm:text-[16px]">19/11/1988</dd>

          <dt class="sm:ml-35 font-bold font-Roboto text-[14px] sm:text-[16px]">ID:</dt>
          <dd class="sm:ml-10 font-medium font-Roboto text-[14px] sm:text-[16px]">1921840</dd>

          <dt class="sm:ml-35 font-bold font-Roboto text-[14px] sm:text-[16px]">Position:</dt>
          <dd class="sm:ml-10 font-medium font-Roboto text-[14px] sm:text-[16px]">Teacher</dd>

          <dt class="sm:ml-35 font-bold font-Roboto text-[14px] sm:text-[16px]">School:</dt>
          <dd class="sm:ml-10 font-medium font-Roboto text-[14px] sm:text-[16px]">The Academy</dd>
        </dl>
        <button
          class="block mx-auto mt-0 mb-0 sm:mt-14 sm:mb-16 border-2 border-secondary h-[44px] sm:h-[59px] w-[195px] sm:w-[190px] text-secondary text-[16px] sm:text-[26px] rounded-md font-semibold hover:bg-secondary-hover font-Poppins cursor-pointer focus:outline-none focus:ring-2 focus:ring-secondary focus:ring-offset-2"
          aria-label="Edit Profile Information" type="button">
          Edit Profile
        </button>
      </section>
    </div>
  </main>
  <footer class="flex justify-end sm:justify-center">
    <img class="sm:hidden" src="../../public/img/Circles_illustration_mobile.png" alt="Edugate footer circles">
    <img class="hidden sm:block shrink-0 mx-4" src="../../public/img/circle-footer.png" alt="Edugate footer circles">
  </footer>
</body>

</html>