<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Student profile page for Edugate webpage.">
    <link rel="stylesheet" href="../../dist/output.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>Student Dashboard Page</title>
</head>
<body>
    <header class="bg-neutral-light-gray text-neutral-dark-gray font-Poppins">
        <nav class="max-w-7x1 flex items-center justify-between px-4">
            <img class="ml-4 mr-16" src="../../public/img/logo-header.png" alt="Edugate Logo">
    
            <!-- Hamburger Menu -->
            <div class="fixed inset-0 md:hidden">

                <!-- Checkbox for Hamburger Toggle -->
                <input
                    type="checkbox"
                    id="menu-toggle"
                    class="hidden peer"
                />
                <!-- Hamburger Icon -->
                <label
                    for="menu-toggle"
                    class="absolute top-14 right-4 cursor-pointer focus:outline-none peer-checked:hidden"
                    aria-label="Toggle menu"
                >
                    <svg class="w-16 h-16" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
                    </svg>
                </label>
    
                <div
                    class="fixed inset-0 bg-white text-neutral-dark-gray z-50 transform translate-x-full peer-checked:translate-x-0 transition-transform duration-300"
                >
                    <img class="HeaderLogo left-4" src="../../public/img/logo-header.png" alt="Edugate Logo">
                    <!-- Close Icon -->
                    <label
                        for="menu-toggle"
                        class="absolute top-4 right-4 cursor-pointer focus:outline-none"
                        aria-label="Close menu"
                    >
                        <svg class="w-12 h-12 mt-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </label>
    
                    <ul class="flex flex-col items-end justify-start mt-40 h-full gap-10 text-xl mr-8">
                        <li>
                            <a href="dashboard-student.html" class="flex items-center gap-5 p-3 border-b-2 border-white hover:border-primary">
                                Dashboard
                                <img class="w-6 h-6" src="../../public/icons/dashboard.png" alt="Dashboard Icon">
                            </a>
                        </li>
                        <li>
                            <a href="student-profile.html" class="flex items-center gap-5 p-3 border-b-2 border-white hover:border-primary">
                                Profile
                                <img class="w-6 h-6" src="../../public/icons/user-circle.png" alt="Profile Icon">
                            </a>
                        </li>
                        <li>
                            <a href="../about.html" class="flex items-center gap-5 p-3 border-b-2 border-white hover:border-primary">
                                About
                                <img class="w-6 h-6" src="../../public/icons/about.png" alt="About Icon">
                            </a>
                        </li>
                        <li>
                            <a href="../contact.html" class="flex items-center gap-5 p-3 border-b-2 border-white hover:border-primary">
                                Contact
                                <img class="w-6 h-6" src="../../public/icons/contact.png" alt="Contact Icon">
                            </a>
                        </li>
                        <li>
                            <a href="../index.html" class="flex items-center gap-5 p-3 border-b-2 border-white hover:border-accent-hover">
                                Log out
                                <img class="w-6 h-6" src="../../public/icons/logout.png" alt="Log out Icon">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
    
            <ul class="hidden md:flex justify-end mr-10 font-Poppins font-medium">
                <li><a href="#" class="py-8 md:px-8 px-16 border-b-2 border-neutral-light-gray hover:border-primary">
                    Dashboard</a>
                </li>
                <li><a href="../about.html" class="py-8 md:px-8 border-b-2 border-neutral-light-gray hover:border-primary">
                    About</a>
                </li>
                <li><a href="../contact.html" class="py-8 md:px-8 border-b-2 border-neutral-light-gray hover:border-primary">
                    Contact</a>
                </li>
            </ul>
                <!-- User Dropdown -->
                <div class="relative">
                  <!-- Hidden Checkbox -->
                  <input type="checkbox" id="dropdown-toggle" class="hidden peer">


                  <!-- User Icon (Clickable) -->
                  <div class="hidden md:flex items-center gap-6 mr-10">
                    <div class="relative cursor-pointer">
                        <i class="fa-solid fa-bell text-2xl hover:text-primary-green transition-colors"></i>
                        <span class="absolute top-0 -right-1 bg-red-500 text-white rounded-full w-4 h-4 text-xs flex items-center justify-center">0</span>
                    </div>
                    <label for="dropdown-toggle" class="cursor-pointer">
                        <img class="w-14 h-14" src="../../public/icons/user-circle.png" alt="User dropdown">
                    </label>
                </div>
      
                  
                  <!-- Dropdown Menu -->
                  <ul
                      class="absolute right-0 mr-8 w-40 text-center border bg-neutral-light-gray border-neutral-light-gray rounded-lg shadow-lg opacity-0 invisible peer-checked:opacity-100 peer-checked:visible transition-opacity duration-200">
                      <li>
                          <a href="student-results.html" class="block px-8 py-4 hover:bg-white hover:text-green-600">See results</a>
                      </li>
                      <li>
                          <a href="#" class="block px-8 py-4 hover:bg-white border-y-2 border-white hover:text-green-600">Profile</a>
                      </li>
                      <li>
                          <a href="#" class="block px-8 py-4 hover:bg-white hover:text-red-600">Log out</a>
                      </li>
                  </ul>
              </div>
        </nav>
   
    </header>
    <main>
        <div class="flex flex-col lg:flex-row">

            <!--Mobile view-->
            <div class="md:hidden grid gap-4 justify-items-center text-center">
                <h1 class="text-neutral-dark-gray text-center font-Poppins font-bold tracking-wide mb-4 text-[60px]">Dashboard</h1>
                <img class="w-25" src="../../public/icons/Student-initials.png" alt="Picture of a green circle with the initials JB">
                <h2 class="text-neutral-dark-gray text-center font-Poppins font-bold tracking-wide mt-4 mb-4 text-2xl">Joe Bloggs</h2>
                <h3 class="text-neutral-dark-gray text-center font-Poppins font-sm tracking-wide mb-4 text-xl">Student at Edugate School</h3>

                <a class="flex flex-col items-center" href="student-profile.html">
                    <img src="../../public/icons/user-circle.png" alt="Picture of a green profile icon">
                    <h4 class="text-neutral-dark-gray text-center justify-items-center font-Poppins font-semibold tracking-wide text-xl pb-10">Profile</h4>
                </a>

                <a class="flex flex-col items-center" href="student-profile.html">
                    <img src="../../public/icons/results.png" alt="Picture of a green profile icon">
                    <h4 class="text-neutral-dark-gray text-center justify-items-center font-Poppins font-semibold tracking-wide text-xl pb-10">My Courses</h4>
                </a>

                <a class="flex flex-col items-center" href="student-profile.html">
                    <img src="../../public/icons/results.png" alt="Picture of a green profile icon">
                    <h4 class="text-neutral-dark-gray text-center justify-items-center font-Poppins font-semibold tracking-wide text-xl pb-10">My Assignments</h4>
                </a>

                <a class="flex flex-col items-center" href="student-result.html">
                    <img src="../../public/icons/results.png" alt="Picture of a green results icon">
                    <h4 class="text-neutral-dark-gray text-center justify-items-center font-Poppins font-semibold tracking-wide text-xl pb-10">My results</h4>
                </a>

                <a class="flex flex-col items-center" href="../index.html">
                    <img src="../../public/icons/logout.png" alt="Picture of a red log out icon">
                    <h4 class="text-neutral-dark-gray text-center justify-items-center font-Poppins font-semibold tracking-wide text-xl">Log out</h4>
                </a>
            </div>

            <!--Desktop view-->
            <div class="md:grid hidden grid-cols-1 place-items-center gap-4 w-full">
                <h1 class="text-neutral-dark-gray text-center font-Roboto font-bold text-[32px] tracking-wide mt-12 mb-7 text-3xl">Dashboard</h1>
                <img class="w-35" src="../../public/img/Student initials.png" alt="Picture of a green circle with the initials JB">
                <h2 class="text-neutral-dark-gray text-center font-Poppins text-2xl font-bold tracking-wide mt-6 mb-6">Joe Bloggs</h2>
                <h3 class="text-neutral-dark-gray text-center font-Roboto font-medium text-base tracking-wide mb-12">Student at Edugate School</h3>

                <!--Top Row Desktop-->
                <div class="grid grid-cols-3 gap-12 m-4 justify-items-center text-center">
                    <div>
                        <a class="flex flex-col items-center" href="student-result.html">
                            <img class="cursor-pointer" src="../../public/icons/results.png" alt="Picture of a green results icon">
                            <h4 class="text-neutral-dark-gray text-center font-Roboto text-xl tracking-wide mt-4">My results</h4>
                        </a>
                    </div>
                    <div>
                        <a class="flex flex-col items-center" href="student-courses.html">
                            <img class="cursor-pointer" src="../../public/icons/results.png" alt="Picture of a green profile icon">
                            <h4 class="text-neutral-dark-gray text-center font-Roboto text-2xl tracking-wide mt-4">My Courses</h4>
                        </a>
                    </div>
                    <div>
                        <a class="flex flex-col items-center" href="student-assignments.html">
                            <img class="cursor-pointer" src="../../public/icons/results.png" alt="Picture of a green profile icon">
                            <h4 class="text-neutral-dark-gray text-center font-Roboto text-2xl tracking-wide mt-4">My Assignments</h4>
                        </a>
                    </div>
                </div>

                <!--Bottom Row Desktop-->
                <div class="flex flex-row m-5 justify-items-center text-center" style="gap: 150px;">
                    <div>
                        <a class="flex flex-col items-center" href="student-profile.html">
                            <img class="cursor-pointer" src="../../public/icons/user-circle.png" alt="Picture of a green profile icon">
                            <h4 class="text-neutral-dark-gray text-center font-Roboto text-2xl tracking-wide mt-4">See profile</h4>
                        </a>
                    </div>
                    <div>
                        <a class="flex flex-col items-center" href="../index.html">
                            <img class="cursor-pointer" src="../../public/icons/logout.png" alt="Picture of a red log out icon">
                            <h4 class="text-neutral-dark-gray text-center font-Roboto text-xl tracking-wide mt-4">Log out</h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="flex justify-end sm:justify-center mt-10 sm:mt-10">
        <img class="sm:hidden" src="../../public/img/Circles_illustration_mobile.png" alt="Edugate footer circles">
        <img class="hidden sm:block shrink-0 mx-4 mt-8" src="../../public/img/circle-footer.png" alt="Edugate footer circles">
    </footer>
</body>
</html>