<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../dist/output.css">
    <title>About</title>
</head>
<body class="bg-neutral-light-gray flex-col min-h-screen">
    <header class="bg-neutral-light-gray text-neutral-dark-gray border-b border-[#CCCCCC]">
        <nav class="max-w-7x1 flex items-center justify-between px-0 md:px-4">
            <img class="pl-0 md:pl-5 w-34 md:w-auto" src="../public/img/logo-header.png" alt="Edugate Logo">

            <!-- Hamburger Menu -->
            <div class="relative md:hidden">
                <!-- Checkbox for Hamburger Toggle -->
                <input
                    type="checkbox"
                    id="menu-toggle"
                    class="hidden peer"
                />
                <!-- Hamburger Icon -->
                <label
                    for="menu-toggle"
                    class="block cursor-pointer focus:outline-none peer-checked:hidden"
                    aria-label="Toggle menu"
                >
                    <img src="../public/icons/hamburger-menu.png" alt="Hamburger menu" class="h-8 px-6">
                </label>

                <div
                    class="fixed inset-0 bg-white text-neutral-dark-gray z-50 transform translate-x-full peer-checked:translate-x-0 transition-transform duration-300"
                >
                    <!-- Close Icon -->
                    <label
                        for="menu-toggle"
                        class="absolute top-4 right-4 cursor-pointer focus:outline-none"
                        aria-label="Close menu"
                    >
                        <svg class="w-12 h-12 mt-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </label>

                    <ul class="flex flex-col items-end justify-start mt-40 h-full gap-10 text-xl mr-8">
                        <li>
                            <a href="#" class="flex items-center gap-5 p-3">
                                Login
                                <img class="h-5" src="../public/icons/login.png" alt="Login Icon">
                            </a>
                        </li>
                        <li>
                            <a href="#" class="flex items-center gap-5 p-3">
                                Signup
                                <img class="h-5" src="../public/icons/signup.png" alt="Signup Icon">
                            </a>
                        </li>
                        <li>
                            <a href="about.html" class="flex items-center gap-5 p-3" aria-current="page">
                                About
                                <img class="h-5" src="../public/icons/about.png" alt="About Icon">
                            </a>
                        </li>
                        <li>
                            <a href="contact.html" class="flex items-center gap-5 p-3">
                                Contact
                                <img class="h-5" src="../public/icons/contact.png" alt="Contact Icon">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <ul class="hidden md:flex mr-0 font-Poppins font-medium text-l ml-auto">
                <li class="py-8 px-12 border-b-2 border-neutral-light-gray hover:border-primary">
                    <a href="#" class="font-heading">Dashboard</a>
                </li>
                <li class="py-8 px-12 border-b-2 border-primary hover:border-primary" aria-current="page">
                    <a href="../templates/about.html" class="font-heading">About</a>
                </li>
                <li class="py-8 px-12 border-b-2 border-neutral-light-gray hover:border-primary">
                    <a href="../templates/contact.html" class="font-heading">Contact</a>
                </li>
            </ul>
            <img src="../public/icons/user-circle.png" alt="" class="hidden md:flex h-[64px] pr-5">
        </nav>
    </header>

    <main class="bg-neutral-light-gray flex flex-col justify-center pb-8 mt-24">
        <section class="flex-auto mx-14 sm:mx-24 md:mx-60 lg:mx-72 xl:mx-96">
            <h1 class="text-neutral-dark-gray text-center font-Poppins text-[32px] font-bold tracking-wide lg:mb-12 mb-4">About</h1>
            <p class="text-black font-Roboto sm:text-xl text-sm font-normal tracking-wide sm:mt-10 mt-4 pl-10 pr-10">Edugate was built to provide students with an easier way to access their exam results.</p>
            <p class="text-black font-Roboto sm:text-xl text-sm font-normal tracking-wide sm:mt-10 mt-4 pl-10 pr-10">Schools can sign up, quickly register their students & create private accounts for them to access their results.</p>
            <div class="pt-6 space-x-4  flex justify-center">
                <button class="md:hidden primary-button ">Sign Up</button>
            </div>
            <div class=" pt-6 space-x-4 flex justify-center">
                <button class="md:hidden secondary-button">Log In</button>
            </div>
            <div class="hidden md:flex justify-center pt-6 space-x-4">
                <button class="primary-button">Sign Up</button>
                <button class="secondary-button">Log In</button>
            </div>
        </section>
    </main>
    <footer class="flex justify-end sm:justify-center">
        <img class="sm:hidden" src="../public/img/Circles_illustration_mobile.png" alt="Edugate footer circles">
        <img class="hidden sm:block shrink-0 mx-4 mt-8" src="../public/img/circle-footer.png" alt="Edugate footer circles">
    </footer>
</body>
</html>
