<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Ebbe Stankiewicz" />
    <meta name="description"
        content="The Add Teacher page for Edugate. Edugate is a result management system for high schools in Nigeria." />
    <title>Edugate | Add Teachers</title>
    <link rel="stylesheet" href="../dist/output.css" />
</head>

<body class="bg-gray-100">
    <header class="bg-neutral-light-gray text-neutral-dark-gray font-Poppins">
        <nav class="max-w-7x1 flex items-center justify-between px-4">
            <img class="ml-4 mr-16" src="../public/img/logo-header.png" alt="Edugate Logo">
            <!-- Hamburger Menu -->
            <div class="fixed inset-0 md:hidden">
                <!-- Checkbox for Hamburger Toggle -->
                <input type="checkbox" id="menu-toggle" class="hidden peer" />
                <!-- Hamburger Icon -->
                <label for="menu-toggle"
                    class="absolute top-14 right-4 cursor-pointer focus:outline-none peer-checked:hidden"
                    aria-label="Toggle menu">
                    <svg class="w-16 h-16" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 6h16M4 12h16m-7 6h7" />
                    </svg>
                </label>
                <div
                    class="fixed inset-0 bg-white text-neutral-dark-gray z-50 transform translate-x-full peer-checked:translate-x-0 transition-transform duration-300">
                    <!-- Close Icon -->
                    <label for="menu-toggle" class="absolute top-4 right-4 cursor-pointer focus:outline-none"
                        aria-label="Close menu">
                        <svg class="w-12 h-12 mt-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </label>
                    <ul class="flex flex-col items-end justify-start mt-40 h-full gap-10 text-xl mr-8">
                        <li>
                            <a href="#"
                                class="flex items-center gap-5 p-3 border-b-2 border-white hover:border-primary">
                                Dashboard
                                <img class="w-6 h-6" src="../public/icons/dashboard.png" alt="Dashboard Icon">
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="flex items-center gap-5 p-3 border-b-2 border-white hover:border-primary">
                                Profile
                                <img class="w-6 h-6" src="../public/icons/user-circle.png" alt="Profile Icon">
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="flex items-center gap-5 p-3 border-b-2 border-white hover:border-primary">
                                Manage user
                                <img class="w-6 h-6" src="../public/icons/user-management.png" alt="Manage user icon">
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="flex items-center gap-5 p-3 border-b-2 border-white hover:border-primary">
                                About
                                <img class="w-6 h-6" src="../public/icons/about.png" alt="About Icon">
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="flex items-center gap-5 p-3 border-b-2 border-white hover:border-primary">
                                Contact
                                <img class="w-6 h-6" src="../public/icons/contact.png" alt="Contact Icon">
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="flex items-center gap-5 p-3 border-b-2 border-white hover:border-accent-hover">
                                Log out
                                <img class="w-6 h-6" src="../public/icons/logout.png" alt="Log out Icon">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <ul class="hidden md:flex justify-end mr-10 font-Poppins font-medium">
                <li><a href="#"
                        class="py-8 md:px-8 px-16 border-b-2 border-neutral-light-gray hover:border-primary">Dashboard</a>
                </li>
                <li><a href="../templates/about.html"
                        class="py-8 md:px-8 border-b-2 border-neutral-light-gray hover:border-primary">About</a></li>
                <li><a href="../templates/contact.html"
                        class="py-8 md:px-8 border-b-2 border-neutral-light-gray hover:border-primary">Contact</a></li>
            </ul>
            <!-- User Dropdown -->
            <div class="relative">
                <!-- Hidden Checkbox -->
                <input type="checkbox" id="dropdown-toggle" class="hidden peer">
                <!-- User Icon (Clickable) -->
                <label for="dropdown-toggle" class="hidden md:flex w-14 h-14 mr-10 cursor-pointer">
                    <img src="/public/icons/user-circle.png" alt="User dropdown">
                </label>
                <!-- Dropdown Menu -->
                <ul
                    class="absolute right-0 mr-8 w-40 text-center border bg-neutral-light-gray border-neutral-light-gray rounded-lg shadow-lg opacity-0 invisible peer-checked:opacity-100 peer-checked:visible transition-opacity duration-200">
                    <li>
                        <a href="#" class="block px-8 py-4 hover:bg-white hover:text-green-600">See results</a>
                    </li>
                    <li>
                        <a href="#"
                            class="block px-8 py-4 hover:bg-white border-y-2 border-white hover:text-green-600">Profile</a>
                    </li>
                    <li>
                        <a href="#" class="block px-8 py-4 hover:bg-white hover:text-red-600">Log out</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="flex flex-col lg:flex-row">
        <!--Sidebar-->
        <div id="sidebar" class="sidebar teacher-sidebar hidden lg:flex flex-col gap-12 ml-4">
            <img src="/public/icons/dashboard.png" class="w-6 h-6">
            <img src="/public/icons/results.png" class="w-6 h-6">
            <img src="/public/icons/user-circle.png" class="w-6 h-6">
            <img src="/public/icons/school-management.png" class="w-6 h-6">
            <img src="/public/icons/logout.png" class="w-6 h-6">
        </div>
        <!--Sidebar-->
        <div id="sidebar-hov" class="teacher-sidebar hidden lg:flex flex-col gap-12 ">
            <a href="dashboard-admin.html" class="text-green-600  rounded-md">
                <img src="/public/icons/dashboard.png" class="w-6 h-6"><span>Home</span>
            </a>
            <a href="add-results.html" class="text-green-600  rounded-md">
                <img src="/public/icons/results.png" class="w-6 h-6"><span>Results Management</span>
            </a>
            <a href="manage-user.html" class="text-green-600 rounded-md">
                <img src="/public/icons/user-circle.png" class="w-6 h-6"><span>User Management</span>
            </a>
            <a href="add-school.html" class="text-green-600 rounded-md">
                <img src="/public/icons/school-management.png" class="w-6 h-6"><span>School Management</span>
            </a>
            <a href="/templates" class="text-red-600 rounded-md">
                <img src="/public/icons/logout.png" class="w-6 h-6"><span>Logout</span>
            </a>
        </div>

        <!-- <main class=" teacher-main max-w-4xl mx-auto p-4 sm:p-6 mt-6"> -->
        <main class=" teacher-main">
            <section class="mb-6">
                <nav class="text-sm">
                    <a href="dashboard-admin.html" class="text-gray-500 hover:text-gray-700 ml-4 mr-4">Dashboard</a>
                    &gt;
                    <a href="#" class="text-green-600 font-medium ml-4">Add Teachers</a>
                </nav>
            </section>
            <section class="mb-6 flex flex-col justify-center items-center text-center">
                <h1 class="text-black text-center font-Poppins text-[32px] font-bold tracking-wide sm:mb-12 mb-6">Add
                    Teachers</h1>
                <p
                    class="text-neutral-dark-gray font-Roboto sm:text-xl text-sm font-normal sm:tracking-wide sm:mb-12 mb-4">
                    To add teachers, upload an Excel spreadsheet with this format:</p>
            </section>
            <section class="overflow-x-auto">
                <table class="w-full border border-gray-300 text-left text-xs sm:text-sm">
                    <thead>
                        <tr class="bg-gray-200 text-gray-600 uppercase text-[10px] sm:text-xs">
                            <th class="bg-gray-200 text-gray-600 px-2 sm:px-4 py-2">#</th>
                            <th class="border border-gray-300 px-2 sm:px-4 py-2 text-center">A</th>
                            <th class="border border-gray-300 px-2 sm:px-4 py-2 text-center">B</th>
                            <th class="border border-gray-300 px-2 sm:px-4 py-2 text-center">C</th>
                            <th class="border border-gray-300 px-2 sm:px-4 py-2 text-center">D</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="bg-gray-200 border border-gray-300 px-2 sm:px-4 py-2">1</th>
                            <th class="bg-white border border-gray-300 px-2 sm:px-4 py-2">first_name</th>
                            <th class="bg-white border border-gray-300 px-2 sm:px-4 py-2">surname</th>
                            <th class="bg-white border border-gray-300 px-2 sm:px-4 py-2">id</th>
                            <th class="bg-white border border-gray-300 px-2 sm:px-4 py-2">dob</th>
                        </tr>
                        <tr>
                            <td class="bg-gray-200 border border-gray-300 px-2 sm:px-4 py-2">2</td>
                            <td class="bg-white border border-gray-300 px-2 sm:px-4 py-2">First name</td>
                            <td class="bg-white border border-gray-300 px-2 sm:px-4 py-2">Second Name</td>
                            <td class="bg-white border border-gray-300 px-2 sm:px-4 py-2">School Teacher ID Number</td>
                            <td class="bg-white border border-gray-300 px-2 sm:px-4 py-2">Date Of Birth</td>
                        </tr>
                        <tr>
                            <td class="bg-gray-200 border border-gray-300 px-2 sm:px-4 py-2">3</td>
                            <td class="bg-white border border-gray-300 px-2 sm:px-4 py-2">#</td>
                            <td class="bg-white border border-gray-300 px-2 sm:px-4 py-2">#</td>
                            <td class="bg-white border border-gray-300 px-2 sm:px-4 py-2">#</td>
                            <td class="bg-white border border-gray-300 px-2 sm:px-4 py-2">#</td>
                        </tr>
                        <tr>
                            <td class="bg-gray-200 border border-gray-300 px-2 sm:px-4 py-2">4</td>
                            <td class="bg-white border border-gray-300 px-2 sm:px-4 py-2">#</td>
                            <td class="bg-white border border-gray-300 px-2 sm:px-4 py-2">#</td>
                            <td class="bg-white border border-gray-300 px-2 sm:px-4 py-2">#</td>
                            <td class="bg-white border border-gray-300 px-2 sm:px-4 py-2">#</td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section class="mt-6 flex flex-col gap-4 justify-center items-center">
                <button id="upload-btn" type="button" class="primary-button">Upload +</button>
                <a href="dashboard-admin.html"><button type="button" class="secondary-button"> Back to dashboard
                    </button></a>
            </section>
        </main>
    </div>
    <footer class="flex justify-end sm:justify-center">
        <img class="sm:hidden" src="../public/img/Circles illustration mobile.png" alt="Edugate footer circles">
        <img class="hidden sm:block shrink-0 mx-4 mt-8" src="../public/img/circle-footer.png"
            alt="Edugate footer circles">
    </footer>

    <div id="success-alert"
        class="alert-main hidden bg-green-100 border-l-4 border-green-500 text-green-700 p-4 rounded-lg shadow-md w-full max-w-md mx-auto">
        <p class="font-bold"><img src="../public/icons/verified.png" style="display: inline;" alt="verified"> Files were
            successfully added!</p>
    </div>
    <script>
        // here i have used java script to make the botton functional, after discusssing with team leader Annak, and was given go a head by one of the teachers Adu
        document.getElementById("upload-btn").addEventListener("click", function () {
            const successAlert = document.getElementById("success-alert");

            successAlert.classList.remove("hidden");
            setTimeout(() => {
                successAlert.classList.add("hidden");
            }, 6000);
        });
    </script>
</body>

</html>