<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Ebbe Stankiewicz" />
    <meta
      name="description"
      content="The Add School page for Edugate. Edugate is a result management system for high schools in Nigeria."
    />
    <title>Edugate | Add School</title>
    <link rel="stylesheet" href="../dist/output.css" />
    <style>
      @media screen and (max-width: 320px) {
        table {
          font-size: 8px;
        }

        th,
        td {
          padding: 0.5rem 0.5rem;
        }
      }
      @media screen and (max-width: 640px) {
        .primary-button,
        .secondary-button {
          padding: 4px 10px;
          font-size: 15px;
        }

        main,
        header {
          margin-left: 0px;
        }
      }

      @media screen and (max-width: 1020px) {
        .primary-button,
        .secondary-button {
          padding: 4px 10px;
          font-size: 15px;
        }

        main,
        header {
          margin-left: 0px;
        }

        #header-dashboard {
          margin-right: 2px;
        }

        #header-about {
          margin-right: 2px;
        }
      }
    </style>
  </head>
  <body class="bg-gray-100 pl-4">
    <header
      class="bg-neutral-light-gray text-neutral-dark-gray font-Poppins font-medium border-b-2 border-gray-300 mb-6 ml-16 sticky top-0 z-50"
    >
      <nav class="max-w-7x1 flex items-center justify-between">
        <img
          class="ml-2"
          src="../public/img/logo-header.png"
          alt="Edugate Logo"
        />

        <!-- Hamburger Menu -->
        <div class="fixed inset-0 md:hidden" id="hamburger-menu">
          <!-- Checkbox for Hamburger Toggle -->
          <input type="checkbox" id="menu-toggle" class="hidden peer" />
          <!-- Hamburger Icon -->
          <label
            for="menu-toggle"
            class="fixed top-14 right-4 z-50 cursor-pointer focus:outline-none peer-checked:hidden"
            aria-label="Toggle menu"
          >
            <svg
              class="w-16 h-16"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16m-7 6h7"
              />
            </svg>
          </label>

          <div
            class="fixed inset-0 bg-white text-neutral-dark-gray z-50 transform translate-x-full peer-checked:translate-x-0 transition-transform duration-300"
          >
            <!-- Close Icon -->
            <label
              for="menu-toggle"
              class="fixed top-14 right-4 cursor-pointer focus:outline-none"
              aria-label="Close menu"
            >
              <svg
                class="w-12 h-12 mt-8"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M6 18L18 6M6 6l12 12"
                />
              </svg>
            </label>

            <ul
              class="flex flex-col items-end justify-start mt-40 h-full gap-10 text-xl mr-16"
            >
              <li>
                <a
                  href="#"
                  class="flex items-center gap-5 p-3 border-b-2 border-white hover:border-primary"
                >
                  Dashboard
                  <img
                    class="w-6 h-6"
                    src="../public/icons/dashboard.png"
                    alt="Dashboard Icon"
                  />
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="flex items-center gap-5 p-3 border-b-2 border-white hover:border-primary"
                >
                  Profile
                  <img
                    class="w-6 h-6"
                    src="../public/icons/user-circle.png"
                    alt="Profile Icon"
                  />
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="flex items-center gap-5 p-3 border-b-2 border-white hover:border-primary"
                >
                  About
                  <img
                    class="w-6 h-6"
                    src="../public/icons/about.png"
                    alt="About Icon"
                  />
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="flex items-center gap-5 p-3 border-b-2 border-white hover:border-primary"
                >
                  Contact
                  <img
                    class="w-6 h-6"
                    src="../public/icons/contact.png"
                    alt="Contact Icon"
                  />
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="flex items-center gap-5 p-3 border-b-2 border-white hover:border-accent-hover"
                >
                  Log out
                  <img
                    class="w-6 h-6"
                    src="../public/icons/logout.png"
                    alt="Log out Icon"
                  />
                </a>
              </li>
            </ul>
          </div>
        </div>

        <ul
          class="hidden md:flex justify-end font-Poppins font-semibold ml-auto"
        >
          <li>
            <a
              href="../templates/admins/dashboard-admin.html"
              class="py-8 md:px-8 px-16 border-b-2 border-neutral-light-gray hover:border-primary mr-36"
              id="header-dashboard"
            >
              Dashboard</a
            >
          </li>
          <li>
            <a
              href="../templates/about.html"
              class="py-8 md:px-8 border-b-2 border-neutral-light-gray hover:border-primary mr-36"
              id="header-about"
            >
              About</a
            >
          </li>
          <li>
            <a
              href="../templates/contact.html"
              class="py-8 md:px-8 border-b-2 border-neutral-light-gray hover:border-primary mr-8"
              id="header-contact"
            >
              Contact</a
            >
          </li>
        </ul>
        <!-- User Dropdown -->
        <div class="relative">
          <!-- User Icon (Clickable) -->
          <div
            id="dropdown-button"
            class="hidden md:flex w-14 h-14 mr-10 cursor-pointer"
          >
            <img src="/public/icons/user-circle.png" alt="User dropdown" />
          </div>

          <!-- Dropdown Menu -->
          <ul
            id="dropdown-menu"
            class="absolute right-0 mr-8 w-40 text-center border bg-neutral-light-gray border-neutral-light-gray rounded-lg shadow-lg opacity-0 invisible transition-opacity duration-200"
          >
            <li>
              <a
                href="../templates/add-results.html"
                class="block px-8 py-4 hover:bg-white hover:text-green-600"
                >See results</a
              >
            </li>
            <li>
              <a
                href="../templates/students/edit-profile-student.html"
                class="block px-8 py-4 hover:bg-white border-y-2 border-white hover:text-green-600"
                >Profile</a
              >
            </li>
            <li>
              <a
                href="#"
                class="block px-8 py-4 hover:bg-white hover:text-red-600"
                >Log out</a
              >
            </li>
          </ul>
        </div>

        
      </nav>
    </header>
    <!--Sidebar-->
    <div
      id="sidebar"
      class="fixed h-full hidden lg:flex flex-col gap-12 border-r-2 border-gray-300 px-4 top-44 left-0 pt-28 h-screen"
    >
      <a href="../templates/admins/dashboard-admin.html"
        ><img
          class="cursor-pointer w-12"
          src="/public/icons/dashboard.png"
          alt="Picutre of a green home icon"
      /></a>
      <a href="../templates/add-results.html"
        ><img
          class="cursor-pointer w-12"
          src="/public/icons/results.png"
          alt="Picture of a green results icon"
      /></a>
      <a href="../templates/teachers/edit-profile-teacher.html"
        ><img
          class="cursor-pointer w-12"
          src="/public/icons/user-circle.png"
          alt="Picture of a green user icon"
      /></a>
      <a href="../templates/add-school.html"
        ><img
          class="cursor-pointer w-12"
          src="/public/icons/school-management.png"
          alt="Picture of a green school icon"
      /></a>
      <img
        class="cursor-pointer w-12"
        src="/public/icons/logout.png"
        alt="Picture of a red log out icon"
      />
    </div>
    <div
      id="success-alert"
      class="alert-main hidden bg-green-100 border-l-4 border-green-500 text-green-700 p-4 rounded-lg shadow-md w-full max-w-md mx-auto"
    >
      <p class="font-bold">
        <img
          src="../../public/icons/verified.png"
          style="display: inline"
          alt="verified"
        />
        School were successfully added!
      </p>
    </div>

    <div
      id="error-alert"
      class="alert-main hidden bg-red-100 border-l-4 border-red-500 text-red-700 p-4 rounded-lg shadow-md w-full max-w-md mx-auto"
    >
      <p class="font-bold">
        <img
          src="../../public/icons/fail.png"
          style="display: inline"
          alt="Fail"
        />
        Failed to upload school. Please try again.
      </p>
    </div>

    <main class="ml-10 mx-auto p-4 sm:p-6 font-Poppins font-medium">
      <section class="mb-12 text-sm">
        <nav>
          <a href="#" class="text-gray-500 hover:text-gray-700 ml-4 mr-4"
            >Dashboard</a
          >
          &gt;
          <a href="#" class="text-green-600 font-medium ml-4">Add School</a>
        </nav>
      </section>
      <section class="mb-10 text-center">
        <h1 class="text-2xl sm:text-3xl font-bold text-gray-800 mb-10">
          Add School
        </h1>
        <p class="text-gray-600 text-sm sm:text-base mt-4 mb-12">
          To add a school, upload an Excel spreadsheet with this format:
        </p>
      </section>
      <section class="w-full overflow-hidden">
        <div class="w-full overflow-hidden">
          <table
            class="w-full table-auto border border-gray-300 text-left text-xs sm:text-sm mb-6 ml-4"
          >
            <thead>
              <tr
                class="bg-gray-200 text-gray-600 uppercase text-[10px] sm:text-xs"
              >
                <th class="px-0.5 sm:px-4 py-1">#</th>
                <th
                  class="border border-gray-300 px-0.5 sm:px-4 py-1 text-center"
                >
                  A
                </th>
                <th
                  class="border border-gray-300 px-0.5 sm:px-4 py-1 text-center"
                >
                  B
                </th>
                <th
                  class="border border-gray-300 px-0.5 sm:px-4 py-1 text-center"
                >
                  C
                </th>
                <th
                  class="border border-gray-300 px-0.5 sm:px-4 py-1 text-center"
                >
                  D
                </th>
                <th
                  class="border border-gray-300 px-0.5 sm:px-4 py-1 text-center"
                >
                  E
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td
                  class="bg-gray-200 border border-gray-300 px-0.5 sm:px-4 py-1"
                >
                  1
                </td>
                <td class="border border-gray-300 px-0.5 sm:px-4 py-1">
                  School Name
                </td>
                <td class="border border-gray-300 px-0.5 sm:px-4 py-1">City</td>
                <td class="border border-gray-300 px-0.5 sm:px-4 py-1">
                  Postcode
                </td>
                <td class="border border-gray-300 px-0.5 sm:px-4 py-1">
                  Address
                </td>
                <td class="border border-gray-300 px-0.5 sm:px-4 py-1">
                  Contact Number
                </td>
              </tr>
              <tr>
                <td
                  class="bg-gray-200 border border-gray-300 px-0.5 sm:px-4 py-1"
                >
                  2
                </td>
                <td class="border border-gray-300 px-0.5 sm:px-4 py-1">
                  School Name
                </td>
                <td class="border border-gray-300 px-0.5 sm:px-4 py-1">City</td>
                <td class="border border-gray-300 px-0.5 sm:px-4 py-1">
                  Postcode
                </td>
                <td class="border border-gray-300 px-0.5 sm:px-4 py-1">
                  Address
                </td>
                <td class="border border-gray-300 px-0.5 sm:px-4 py-1">
                  Contact Number
                </td>
              </tr>
              <tr>
                <td
                  class="bg-gray-200 border border-gray-300 px-0.5 sm:px-4 py-1"
                >
                  3
                </td>
                <td class="border border-gray-300 px-0.5 sm:px-4 py-1"></td>
                <td class="border border-gray-300 px-0.5 sm:px-4 py-1"></td>
                <td class="border border-gray-300 px-0.5 sm:px-4 py-1"></td>
                <td class="border border-gray-300 px-0.5 sm:px-4 py-1"></td>
                <td class="border border-gray-300 px-0.5 sm:px-4 py-1"></td>
              </tr>
              <tr>
                <td
                  class="bg-gray-200 border border-gray-300 px-0.5 sm:px-4 py-1"
                >
                  4
                </td>
                <td class="border border-gray-300 px-0.5 sm:px-4 py-1"></td>
                <td class="border border-gray-300 px-0.5 sm:px-4 py-1"></td>
                <td class="border border-gray-300 px-0.5 sm:px-4 py-1"></td>
                <td class="border border-gray-300 px-0.5 sm:px-4 py-1"></td>
                <td class="border border-gray-300 px-0.5 sm:px-4 py-1"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
      <section class="mt-6 flex flex-col gap-3 items-center">
        <button id="upload-btn" type="button" class="primary-button py-2 px-6 text-sm mb-4">
          Upload +
        </button>
        <a href="../templates/admins/dashboard-admin.html"
          ><button type="button" class="secondary-button py-2 px-6 text-sm">
            Back to dashboard
          </button></a
        >
      </section>
    </main>
    <footer class="flex justify-center sm:justify-center mt-35 sm:mt-10">
      <img
        class="sm:hidden"
        src="../public/img/Circles illustration mobile.png"
        alt="Edugate footer circles"
      />
      <img
        class="hidden sm:block shrink-0 mx-4 mt-8"
        src="../public/img/circle-footer.png"
        alt="Edugate footer circles"
      />
    </footer>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const dropdownButton = document.getElementById("dropdown-button");
        const dropdownMenu = document.getElementById("dropdown-menu");

        dropdownButton.addEventListener("click", function (event) {
          dropdownMenu.classList.toggle("opacity-100");
          dropdownMenu.classList.toggle("visible");
          dropdownMenu.classList.toggle("opacity-0");
          dropdownMenu.classList.toggle("invisible");
          event.stopPropagation();
        });

        document.addEventListener("click", function (event) {
          if (
            !dropdownMenu.contains(event.target) &&
            !dropdownButton.contains(event.target)
          ) {
            dropdownMenu.classList.add("opacity-0", "invisible");
            dropdownMenu.classList.remove("opacity-100", "visible");
          }
        });
      });

      // here i have used java script to make the botton functional, after discusssing with team leader Annak, and was given go a head by one of the teachers Adu
      document
        .getElementById("upload-btn")
        .addEventListener("click", function () {
          const errorAlert = document.getElementById("error-alert");
          const successAlert = document.getElementById("success-alert");

          const isSuccess = Math.random() < 0.5;

          if (isSuccess) {
            successAlert.classList.remove("hidden");
            setTimeout(() => {
              successAlert.classList.add("hidden");
            }, 6000);
          } else {
            errorAlert.classList.remove("hidden");
            setTimeout(() => {
              errorAlert.classList.add("hidden");
            }, 6000);
          }
        });
    </script>
  </body>
</html>
