<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Kristina Tønnessen"/>
    <link rel="stylesheet" href="../dist/output.css">
    <title>Contact</title>
</head>
<body class="bg-[#F5F5F5] md:bg-neutral-light-gray">
<header class="bg-neutral-light-gray text-neutral-dark-gray">
    <nav class="max-w-7x1 flex items-center justify-between px-0 md:px-4">
        <img class="pl-0 md:pl-5 w-34 md:w-auto" src="../public/img/logo-header.png" alt="Edugate Logo">

        <!-- Hamburger Menu -->
        <div class="relative md:hidden">
            <!-- Checkbox for Hamburger Toggle -->
            <input
                type="checkbox"
                id="menu-toggle"
                class="hidden peer"
            />
            <!-- Hamburger Icon -->
            <label
                for="menu-toggle"
                class="block cursor-pointer focus:outline-none peer-checked:hidden"
                aria-label="Toggle menu"
            >
                <img src="../public/icons/hamburger-menu.png" alt="Hamburger menu" class="h-8 px-6">
            </label>

            <div
                class="fixed inset-0 bg-white text-neutral-dark-gray z-50 transform translate-x-full peer-checked:translate-x-0 transition-transform duration-300"
            >
                <!-- Close Icon -->
                <label
                    for="menu-toggle"
                    class="absolute top-4 right-4 cursor-pointer focus:outline-none"
                    aria-label="Close menu"
                >
                    <svg class="w-12 h-12 mt-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </label>

                <ul class="flex flex-col items-end justify-start mt-40 h-full gap-10 text-xl mr-8">
                    <li>
                        <a href="#" class="flex items-center gap-5 p-3 border-b-2 border-white hover:border-primary">
                            Login
                            <img class="h-5" src="../public/icons/login.png" alt="Login Icon">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="flex items-center gap-5 p-3 border-b-2 border-white hover:border-primary">
                            Signup
                            <img class="h-5" src="../public/icons/signup.png" alt="Signup Icon">
                        </a>
                    </li>
                    <li>
                        <a href="about.html" class="flex items-center gap-5 p-3 border-b-2 border-white hover:border-primary">
                            About
                            <img class="h-5" src="../public/icons/about.png" alt="About Icon">
                        </a>
                    </li>
                    <li>
                        <a href="contact.html" class="flex items-center gap-5 p-3 border-b-2 border-white hover:border-primary">
                            Contact
                            <img class="h-5" src="../public/icons/contact.png" alt="Contact Icon">
                        </a>
                    </li>
                </ul>
            </div>
        </div>


        <ul class="hidden md:flex mr-0 font-Poppins font-medium text-l ml-auto">
            <li class="py-8 px-12 border-b-2 border-neutral-light-gray hover:border-primary">
                <a href="#" class="font-heading ">Dashboard</a>
            </li>
            <li class="py-8 px-12 border-b-2 border-neutral-light-gray hover:border-primary">
                <a href="../templates/about.html" class="font-heading ">About</a>
            </li>
            <li class="py-8 px-12 border-b-2 border-primary hover:border-primary" aria-current="page">
                <a href="../templates/contact.html" class="font-heading ">Contact</a>
            </li>
        </ul>
        <img src="../public/icons/user-circle.png" alt="" class="hidden md:flex h-[64px] pr-5">
    </nav>
</header>

<main class="border-t-2 border-[#CCCCCC]">
    <section class="sm:mx-auto sm:w-[600px] mx-0">
        <h1 class="text-black text-center font-Poppins text-[32px] font-bold tracking-wide sm:mb-12 mt-6 mb-4">Contact</h1>
        <p class="text-neutral-dark-gray font-Roboto sm:text-xl text-sm font-normal tracking-wide mb-4 sm:mb-12 pt-0 pl-10 pr-10 sm:pt-10">If you have any questions or feedback, please use the contact form.</p>
        <p class="text-neutral-dark-gray font-Roboto sm:text-xl text-sm font-normal tracking-wide mb-4 sm:mb-12 pb-0 pl-10 pr-10 sm:pb-10">We would love to hear from you.</p>
    </section>

    <section class="my-2">
        <form  action="contact-confirmation.html" method="GET" class="peer/form group sm:mx-auto mx-0 sm:mt-20 sm:border-2 border-[#BFBFBF] p-10 pt-4 md:p-10 sm:px-28 lg:px-40 bg-[#F5F5F5] sm:w-[600px]">
            <label class="text-neutral-dark-gray font-Roboto text-base sm:text-sm font-bold tracking-wide" for="email"><span class="mb-3 block md:mb-0">Email</span>
                <input id="email" type="email" name="Email" placeholder="example@mail.com" required class="peer/email w-full bg-white mb-8 px-4 py-3 border-2 border-[#CCCCCC] shadow-inner shadow-[#333333cc] rounded-lg mt-1 font-normal text-sm md:text-base focus:border-green-500 focus:outline-none [&:not(:placeholder-shown):not(:focus):invalid]:border-[#FF3333] [&:not(:placeholder-shown):not(:focus):invalid]:shadow-none">
                <span class="text-[#FF3333] font-Roboto hidden peer-[&:not(:placeholder-shown):not(:focus):invalid]/email:block -mt-6 mb-6">Valid email required</span>
            </label>

            <label class="text-neutral-dark-gray font-Roboto text-base sm:text-sm font-bold tracking-wide" for="name"><span class="mb-3 block md:mb-0">Name</span> 
                <input id="name" type="text" name="Name" placeholder="Ola" required minlength="2" maxlength="50" class="peer/name w-full bg-white mb-8 px-4 py-3 border-2 border-[#CCCCCC] focus:border-primary rounded-lg shadow-inner shadow-[#333333cc] mt-1 font-normal text-sm md:text-base focus:outline-none [&:not(:placeholder-shown):not(:focus):invalid]:border-[#FF3333] [&:not(:placeholder-shown):not(:focus):invalid]:shadow-none">
                <span class="text-[#FF3333] font-Roboto hidden peer-[&:not(:placeholder-shown):not(:focus):invalid]/name:block -mt-6 mb-6">Name required</span>
            </label>

            <label class="text-neutral-dark-gray font-Roboto text-base sm:text-sm font-bold tracking-wide" for="surname"><span class="mb-3 block md:mb-0">Surname</span> 
                <input id="surname" type="text" name="Surname" placeholder="Nordmann" required minlength="2" maxlength="50" class="peer/surname w-full bg-white mb-8 px-4 py-3 border-2 border-[#CCCCCC] focus:border-primary rounded-lg shadow-inner shadow-[#333333cc] mt-1 font-normal text-sm md:text-base focus:outline-none [&:not(:placeholder-shown):not(:focus):invalid]:border-[#FF3333] [&:not(:placeholder-shown):not(:focus):invalid]:shadow-none">
                <span class="text-[#FF3333] font-Roboto hidden peer-[&:not(:placeholder-shown):not(:focus):invalid]/surname:block -mt-6 mb-6">Surname required</span>
            </label>

            <label class="text-neutral-dark-gray font-Roboto text-base sm:text-sm font-bold tracking-wide" for="message"><span class="mb-3 block md:mb-0">Message</span>
                <textarea id="message" type="message" name="Message" minlength="10" maxlength="2000" placeholder="Your message ..." required class="peer/message w-full bg-white px-4 py-3 min-h-40 border-2 border-[#CCCCCC] rounded-lg shadow-inner shadow-[#333333cc] focus:border-primary mt-1 mb-8 font-normal text-sm md:text-base focus:outline-none [&:not(:placeholder-shown):not(:focus):invalid]:border-[#FF3333] [&:not(:placeholder-shown):not(:focus):invalid]:shadow-none"></textarea>
                <span class="text-[#FF3333] font-Roboto hidden peer-[&:not(:placeholder-shown):not(:focus):invalid]/message:block -mt-6 mb-6">Message required</span>
            </label>

            <div class="flex justify-center">
                <button class="primary-button mt-4 md:mt-10" type="submit">Submit</button>
            </div>
        </form>
    </section>
</main>

<footer class="flex justify-end sm:justify-center">
    <img class="sm:hidden" src="../public/img/Circles_illustration_mobile.png" alt="Edugate footer circles">
    <img class="hidden sm:block shrink-0 mx-4 mt-8" src="../public/img/circle-footer.png" alt="Edugate footer circles">
</footer>
</body>
</html>
