<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Teacher profile page for Edugate webpage.">
    <link rel="stylesheet" href="../dist/output.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>Dashboard Teacher Page</title>
</head>
<body>
       <main>
        <div class="flex flex-col lg:flex-row">
            <!--Sidebar-->
            <div id="sidebar" class="hidden lg:flex flex-col gap-12 ml-4">
                <img class="cursor-pointer w-12" src="/public/icons/dashboard.png" alt="Picture of a green home icon">
                <img class="cursor-pointer w-12" src="/public/icons/results.png" alt="Picture of a green results icon">
                <img class="cursor-pointer w-12" src="/public/icons/user-management.png" alt="Picture of a green user icon">
                <img class="cursor-pointer w-12" src="/public/icons/top-students.png" alt="Picture of a green student with a hat icon">
                <img class="cursor-pointer w-12" src="/public/icons/logout.png" alt="Picture of a red log out icon">
            </div>

            <!--Mobile view-->
            <div class="lg:hidden grid gap-4 justify-items-center text-center">
                <h1 class="text-neutral-dark-gray text-center font-Poppins text-[32px] font-bold tracking-wide mb-4">Dashboard</h1>
                <img src="/public/img/Student initials mobile.png" alt="Picture of a green circle with the initials JB">
                <h2 class="text-neutral-dark-gray text-center font-Poppins text-xl font-bold tracking-wide mt-4 mb-4">Joe Bloggs</h2>
                <h3 class="text-neutral-dark-gray text-center font-Poppins text-sm font-normal tracking-wide mb-4">Teacher at Edugate School</h3>
                <img src="/public/icons/results.png" alt="Picture of a green results icon">
                <h4 class="text-neutral-dark-gray text-center font-Poppins text-sm font-normal tracking-wide">View results</h4>
                <img src="/public/icons/add-results.png" alt="Picture of a green results icon with an add button">
                <h4 class="text-neutral-dark-gray text-center font-Poppins text-sm font-normal tracking-wide">Add results</h4>
                <img src="/public/icons/top-students.png" alt="Picture og a green student with a hat icon">
                <h4 class="text-neutral-dark-gray text-center font-Poppins text-sm font-normal tracking-wide">Top students</h4>
                <img src="/public/icons/user-circle.png" alt="Picture of a green profile icon">
                <h4 class="text-neutral-dark-gray text-center font-Poppins text-sm font-normal tracking-wide">See profile</h4>
                <img src="/public/icons/logout.png" alt="Picture of a red log out icon">
                <h4 class="text-neutral-dark-gray text-center font-Poppins text-sm font-normal tracking-wide">Log out</h4>
              </div>

            <!--Desktop view-->
            <div class="lg:grid hidden grid-cols-1 place-items-center gap-4 w-full">
                <h1 class="text-neutral-dark-gray text-center font-Poppins text-[32px] font-bold tracking-wide mt-12 mb-12">Dashboard</h1>
                <img src="/public/img/Student initials.png" alt="Picture of a green circle with the initials JB">
                <h2 class="text-neutral-dark-gray text-center font-Poppins text-2xl font-bold tracking-wide mt-6 mb-6">Joe Bloggs</h2>
                <h3 class="text-neutral-dark-gray text-center font-Roboto text-base font-bold tracking-wide mb-12">Teacher at Edugate School</h3>
                <div class="grid grid-cols-3 gap-12 m-4 pl-24">
                    <div>
                        <img class="cursor-pointer" src="/public/icons/top-students.png" alt="Picture of a green student with a hat icon">
                        <h4 class="text-neutral-dark-gray text-center font-Poppins text-xl font-semibold tracking-wide mt-4">Top students</h4>
                    </div>
                    <div>
                        <img class="cursor-pointer max-h-24" src="/public/icons/add-results.png" alt="Picture of a green results icon with an add button">
                        <h4 class="text-neutral-dark-gray text-center font-Poppins text-xl font-semibold tracking-wide mt-4">Add results</h4>
                    </div>
                    <div>
                        <img class="cursor-pointer" src="/public/icons/results.png" alt="Picture of a green results icon">
                        <h4 class="text-neutral-dark-gray text-center font-Poppins text-xl font-semibold tracking-wide mt-4">View results</h4>
                    </div>                    
                    <div>
                        <img class="cursor-pointer ml-24 mr-0" src="/public/icons/user-circle.png" alt="Picture of a green profile icon">
                        <h4 class="text-neutral-dark-gray text-center font-Roboto text-2xl font-normal tracking-wide mt-4">See profile</h4>
                    </div>
                    <div>   
                        <img class="cursor-pointer ml-24 mr-0" src="/public/icons/logout.png" alt="Picture of a red log out icon">
                        <h4 class="text-neutral-dark-gray text-center font-Poppins text-xl font-semibold tracking-wide mt-4">Log out</h4>
                    </div>                
                </div>
            </div>
        </div>
    </main>

    <footer class="mt-8 w-full flex">
        <img class="w-full max-w-md mx-auto" src="/public/img/circle-footer.png" alt="Picture of a blue circle overlapping a green circle">
    </footer>
</body>
</html>
