<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="A page for editing admin information" />
    <link rel="stylesheet" href="../dist/output.css" />
    <title>Edit Profile - Admin</title>
  </head>

  <body class="bg-neutral-light-gray">
    <header
      class="bg-neutral-light-gray text-neutral-dark-gray font-Poppins border-b-1 border-[#cccccc]"
    >
      <nav class="max-w-7x1 flex items-center justify-between px-4">
        <img
          class="ml-4 mr-16"
          src="../public/img/logo-header.png"
          alt="Edugate Logo"
        />

        <div class="relative md:hidden">
          <!-- Checkbox for Hamburger Toggle -->
          <input type="checkbox" id="menu-toggle" class="hidden peer" />
          <!-- Hamburger Icon -->
          <label
            for="menu-toggle"
            class="block cursor-pointer focus:outline-none peer-checked:hidden"
            aria-label="Toggle menu"
          >
            <svg
              class="w-14 h-14 mr-4"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16m-7 6h7"
              />
            </svg>
          </label>

          <div
            class="fixed inset-0 bg-white text-neutral-dark-gray z-50 transform translate-x-full peer-checked:translate-x-0 transition-transform duration-300"
          >
            <!-- Close Icon -->
            <label
              for="menu-toggle"
              class="absolute top-4 right-4 cursor-pointer focus:outline-none"
              aria-label="Close menu"
            >
              <svg
                class="w-12 h-12 mt-8"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M6 18L18 6M6 6l12 12"
                />
              </svg>
            </label>

            <ul
              class="flex flex-col items-end justify-start mt-40 h-full gap-10 text-xl mr-8 font-semibold text-[20px] text-neutral-dark-gray font-Poppins"
            >
              <li>
                <a
                  href="#"
                  class="items-center gap-5 p-3 border-b-2 border-white hover:border-primary"
                >
                  Dashboard
                  <img
                    class="w-6 h-6"
                    src="../public/icons/dashboard.png"
                    alt="Dashboard Icon"
                  />
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="flex items-center gap-5 p-3 border-b-2 border-white hover:border-primary"
                >
                  Profile
                  <img
                    class="w-6 h-6"
                    src="../public/icons/user-circle.png"
                    alt="Profile Icon"
                  />
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="flex items-center gap-5 p-3 border-b-2 border-white hover:border-primary"
                >
                  Manage results
                  <img
                    class="w-6 h-6"
                    src="../public/icons/results.png"
                    alt="Manage results Icon"
                  />
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="flex items-center gap-5 p-3 border-b-2 border-white hover:border-primary"
                >
                  About
                  <img
                    class="w-6 h-6"
                    src="../public/icons/about.png"
                    alt="About Icon"
                  />
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="flex items-center gap-5 p-3 border-b-2 border-white hover:border-primary"
                >
                  Contact
                  <img
                    class="w-6 h-6"
                    src="../public/icons/contact.png"
                    alt="Contact Icon"
                  />
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="flex items-center gap-5 p-3 border-b-2 border-white hover:border-accent-hover"
                >
                  Log out
                  <img
                    class="w-6 h-6"
                    src="../public/icons/logout.png"
                    alt="Log out Icon"
                  />
                </a>
              </li>
            </ul>
          </div>
        </div>

        <ul
          class="hidden md:flex ml-auto mr-10 space-x-20 font-Poppins font-medium"
        >
          <li>
            <a
              href="#"
              class="py-8 md:px-8 px-16 border-b-2 border-neutral-light-gray hover:border-primary font-Poppins font-semibold md:text-[20px] text-neutral-dark-gray"
            >
              Dashboard</a
            >
          </li>
          <li>
            <a
              href="../templates/about.html"
              class="py-8 md:px-8 border-b-2 border-neutral-light-gray hover:border-primary font-Poppins font-semibold md:text-[20px] text-neutral-dark-gray"
            >
              About</a
            >
          </li>
          <li>
            <a
              href="../templates/contact.html"
              class="py-8 md:px-8 border-b-2 border-neutral-light-gray hover:border-primary font-Poppins font-semibold md:text-[20px] text-neutral-dark-gray"
            >
              Contact</a
            >
          </li>
        </ul>
        <!-- User Dropdown -->
        <div class="relative">
          <!-- Hidden Checkbox -->
          <input type="checkbox" id="dropdown-toggle" class="hidden peer" />

          <!-- User Icon (Clickable) -->
          <label
            for="dropdown-toggle"
            class="hidden md:flex w-14 h-14 mr-10 cursor-pointer"
          >
            <img src="/public/icons/user-circle.png" alt="User dropdown" />
          </label>

          <!-- Dropdown Menu -->
          <ul
            class="absolute right-0 mr-8 w-40 text-center border bg-neutral-light-gray border-neutral-light-gray rounded-lg shadow-lg opacity-0 invisible peer-checked:opacity-100 peer-checked:visible transition-opacity duration-200"
          >
            <li>
              <a
                href="#"
                class="block px-8 py-4 hover:bg-white hover:text-green-600"
                >See results</a
              >
            </li>
            <li>
              <a
                href="#"
                class="block px-8 py-4 hover:bg-white border-y-2 border-white hover:text-green-600"
                >Profile</a
              >
            </li>
            <li>
              <a
                href="#"
                class="block px-8 py-4 hover:bg-white hover:text-red-600"
                >Log out</a
              >
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <main class="mb-10 mx-6">
      <div class="flex mb-10 mt-10 gap-4">
        <a
          src="#"
          class="text-neutral-medium-gray font-Roboto font-normal text-[16px]"
        >
          <!--add link to breadcrumbs-->
          Dashboard</a
        >
        <p class="text-neutral-medium-gray font-Roboto font-bold text-[16px]">
          >
        </p>
        <a src="#" class="text-primary font-Roboto font-medium text-[16px]">
          Profile</a
        >
      </div>

      <section
        class="mx-4 md:mx-40 md:p-10 xl:mx-80 lg:border-3 border-neutral-medium-gray"
      >
        <h1
          class="text-neutral-dark-gray text-center font-Poppins text-[32px] font-bold tracking-wide mb-12 sm:mb-4"
        >
          Edit Profile
        </h1>
        <div class="flex justify-center">
          <div
            class="flex items-center justify-center w-[74px] h-[74px] sm:w-[100px] sm:h-[100px] md:w-[120px] md:h-[120px] lg:w-[129px] lg:h-[129px] rounded-full bg-primary"
          >
            <p class="text-white font-bold font-Poppins text-[32px]">JB</p>
          </div>
        </div>
        <section class="flex items-center justify-center">
          <form action="#" class="xl:w-[315px]">
            <!-- Editable fields -->
            <label
              class="text-neutral-dark-gray text-[16px] font-Roboto sm:text-sm font-bold tracking-wide"
              >Name:
              <input
                type="text"
                name="Name"
                placeholder="Joe Bloggs"
                required
                class="bg-white w-full h-[51.04px] mb-4 p-[8px] border-[1px] border-[#cccccc] rounded-md shadow-inner shadow-gray-400 mt-1 font-medium text-[16px] text-neutral-dark-gray font-Roboto"
              />
            </label>
            <label
              class="text-neutral-dark-gray text-[16px] font-Roboto sm:text-sm font-bold tracking-wide"
              for="email"
              >Email:
              <input
                id="email"
                type="email"
                name="Email"
                placeholder="joeblog2024@edugate.no"
                required
                class="bg-white w-full h-[51.04px] mb-4 p-[8px] border-[1px] border-[#cccccc] rounded-md shadow-inner shadow-gray-400 mt-1 font-medium text-[16px] text-neutral-dark-gray font-Roboto"
              />
            </label>
            <label
              class="text-neutral-dark-gray text-[16px] font-Roboto sm:text-sm font-bold tracking-wide"
              for="dob"
              >Date of Birth:
              <input
                itemid="dob"
                type="text"
                id="dob"
                name="dob"
                placeholder="01/01/1987"
                required
                class="bg-white w-full h-[51.04px] mb-4 p-[8px] border-[1px] border-[#cccccc] rounded-md shadow-inner shadow-gray-400 mt-1 font-medium text-[16px] text-[#000000] opacity-100 font-Roboto"
              />
            </label>

            <!-- Read-only fields -->

            <div>
              <label
                class="text-neutral-dark-gray text-[16px] font-Roboto sm:text-sm font-bold tracking-wide"
                for="school"
                >School:</label
              >
              <input
                type="text"
                id="school"
                name="school"
                value="The Academy"
                readonly
                class="bg-[#d9d9d9] w-full h-[51.04px] mb-4 p-[8px] border-[1px] border-[#cccccc] rounded-md shadow-inner shadow-gray-400 mt-1 font-bold text-[16px] text-neutral-dark-gray opacity-80 font-Roboto"
              />
            </div>

            <div class="flex justify-center">
              <button class="primary-button mt-4 mb-6" type="submit">
                Update
              </button>
            </div>
          </form>
        </section>
      </section>
    </main>

    <footer class="flex justify-end sm:justify-center">
      <img
        class="sm:hidden"
        src="../public/img/Circles_illustration_mobile.png"
        alt="Edugate footer circles"
      />
      <img
        class="hidden sm:block shrink-0 mx-4 mt-8"
        src="../public/img/circle-footer.png"
        alt="Edugate footer circles"
      />
    </footer>
  </body>
</html>
