<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Manage Student</title>
  <link rel="stylesheet" href="../dist/output.css"> <!-- Added stylesheet direction -->
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-neutral-light-gray flex-col min-h-screen font-Roboto">
  <header class="bg-neutral-light-gray text-neutral-dark-gray border-b border-[#CCCCCC]">
      <nav class="max-w-7x1 flex items-center justify-between px-0 md:px-4">
          <img class="pl-0 md:pl-5 w-34 md:w-auto" src="../../public/img/logo-header.png" alt="Edugate Logo">
      <!-- Hamburger Menu -->
      <div class="fixed inset-0 md:hidden">
          <!-- Checkbox for Hamburger Toggle -->
          <input
              type="checkbox"
              id="menu-toggle"
              class="hidden peer"
          />
          <!-- Hamburger Icon -->
          <label
              for="menu-toggle"
              class="absolute top-14 right-4 cursor-pointer focus:outline-none peer-checked:hidden"
              aria-label="Toggle menu"
          >
              <svg class="w-16 h-16" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
              </svg>
          </label>

          <div
              class="fixed inset-0 bg-white text-neutral-dark-gray z-50 transform translate-x-full peer-checked:translate-x-0 transition-transform duration-300"
          >
              <!-- Close Icon -->
              <label
                  for="menu-toggle"
                  class="absolute top-4 right-4 cursor-pointer focus:outline-none"
                  aria-label="Close menu"
              >
                  <svg class="w-12 h-12 mt-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                  </svg>
              </label>

              <ul class="flex flex-col items-end justify-start mt-40 h-full gap-10 text-xl mr-8">
                  <li>
                      <a href="dashboard-student.html" class="flex items-center gap-5 p-3 border-b-2 border-white hover:border-primary">
                          Dashboard
                          <img class="w-6 h-6" src="../../public/icons/dashboard.png" alt="Dashboard Icon">
                      </a>
                  </li>
                  <li>
                      <a href="edit-profile-student.html" class="flex items-center gap-5 p-3 border-b-2 border-white hover:border-primary">
                          Profile
                          <img class="w-6 h-6" src="../../public/icons/user-circle.png" alt="Profile Icon">
                      </a>
                  </li>
                  <li>
                      <a href="../about.html" class="flex items-center gap-5 p-3 border-b-2 border-white hover:border-primary">
                          About
                          <img class="w-6 h-6" src="../../public/icons/about.png" alt="About Icon">
                      </a>
                  </li>
                  <li>
                      <a href="../contact.html" class="flex items-center gap-5 p-3 border-b-2 border-white hover:border-primary">
                          Contact
                          <img class="w-6 h-6" src="../../public/icons/contact.png" alt="Contact Icon">
                      </a>
                  </li>
                  <li>
                      <a href="#" class="flex items-center gap-5 p-3 border-b-2 border-white hover:border-accent-hover">
                          Log out
                          <img class="w-6 h-6" src="../../public/icons/logout.png" alt="Log out Icon">
                      </a>
                  </li>
              </ul>
          </div>
      </div>

      <ul class="hidden md:flex mr-0 font-Poppins font-medium text-l ml-auto">
        <li class="py-8 px-12 border-b-2 border-transparent hover:border-green-500 transition duration-200">
          <a href="../../templates/students/dashboard-student.html" class="font-heading">Dashboard</a>
        </li>
        <li class="py-8 px-12 border-b-2 border-transparent hover:border-green-500 transition duration-200">
          <a href="../../templates/about.html" class="font-heading">About</a>
        </li>
        <li class="py-8 px-12 border-b-2 border-transparent hover:border-green-500 transition duration-200">
          <a href="../../templates/contact.html" class="font-heading">Contact</a>
        </li>
        
      </ul>
          <!-- User Dropdown -->
          <div class="relative">
            <!-- Hidden Checkbox -->
            <input type="checkbox" id="dropdown-toggle" class="hidden peer">

            <!-- User Icon (Clickable) -->
            <label
                for="dropdown-toggle"
                class="hidden md:flex w-14 h-14 mr-10 cursor-pointer"
            >
                <img src="../../public/icons/user-circle.png" alt="User dropdown">
            </label>

            <!-- Dropdown Menu -->
            <ul
                class="absolute right-0 mr-8 w-40 text-center border bg-neutral-light-gray border-neutral-light-gray rounded-lg shadow-lg opacity-0 invisible peer-checked:opacity-100 peer-checked:visible transition-opacity duration-200">
                <li>
                    <a href="#" class="block px-8 py-4 hover:bg-white hover:text-green-600">See results</a>
                </li>
                <li>
                    <a href="#" class="block px-8 py-4 hover:bg-white border-y-2 border-white hover:text-green-600">Profile</a>
                </li>
                <li>
                    <a href="#" class="block px-8 py-4 hover:bg-white hover:text-red-600">Log out</a>
                </li>
            </ul>
        </div>
  </nav>
</header>
  <main class="flex flex-row flex-grow gap-0 m-0 bg-gray-100"> 
    <div id="sidebar" class="sidebar teacher-sidebar hidden lg:flex flex-col gap-12 ml-4">
      <div class="flex flex-col gap-12 mt-10">
      <img src="/public/icons/dashboard.png" class="w-[41px]" alt="Dashboard icon">
      <img src="/public/icons/results.png" class="w-[41px]" alt="Results icon">
      <img src="/public/icons/user-circle.png" class="w-[41px]" alt="User icon">
      <img src="/public/icons/school-management.png" class="w-[41px]" alt="School management icon">
      <img src="/public/icons/logout.png" class="w-[41px]" alt="Log out icon">
      </div>
</div>
</div>
<!--Sidebar-->
<div id="sidebar-hov" class="teacher-sidebar hidden lg:flex flex-col gap-12 ">
  <a href="dashboard-admin.html" class=" rounded-md">
      <img src="/public/icons/dashboard.png" class="w-[41px]" alt="Dashboard icon"><span>Home</span>
  </a>
  <a href="add-results.html" class=" rounded-md">
      <img src="/public/icons/results.png" class="w-[41px]" alt="Results management icon"><span>Results Management</span>
  </a>
  <a href="manage-user.html" class="rounded-md">
      <img src="/public/icons/user-circle.png" class="w-[41px]" alt="User icon"><span>User Management</span>
  </a>
  <a href="add-school.html" class="rounded-md">
      <img src="/public/icons/school-management.png" class="w-[41px]" alt="School management icon"><span>Top Students</span>
  </a>
  <a href="/templates" class="rounded-md">
      <img src="/public/icons/logout.png" class="w-[41px]" alt="Log out icon"><span>Logout</span>
  </a>
</div>
    <div class="w-full justify-center">
    <section class="flex flex-col w-full gap-12 m-0 pr-[16px] sm:!pr-[80px]  border-#CCCCCC-400 pl-4 pt-5">
      <p class="self-start mb-12 text-[#757575] ">
        Dashboard &nbsp; &nbsp;> &nbsp;&nbsp; Select user  &nbsp;&nbsp;> <span class="text-[#4CAF50] font-semibold"> &nbsp;&nbsp;Manage user</span>
      </p>
    </section>
    <div class="w-full flex justify-center">
      <div class="flex flex-col items-center w-full max-w-[402px]">
        <h2 class="text-neutral-dark-gray text-center font-Poppins text-[32px] font-bold tracking-wide mb-12 sm:mb-4 pb-2">Manage Student</h2>
        <p class="text-center text-neutral-dark-gray font-Roboto text-xl sm:text-sm font-normal tracking-wide mb-12 sm:mb-4">Edit the user info below</p>
        <form action="" class="space-y-4 w-full">
          <div class="space-y-10 flex flex-col items-center mb-12">
            <div class="w-[315px]">
              <label class="block text-neutral-dark-gray font-Roboto text-base sm:text-sm font-bold tracking-wide">
                ID:
                <input type="text" name="id" class="w-full p-2 border-2 !border-zinc-300 focus:outline-none focus:!border-primary rounded-md shadow-inner mt-1 font-thin bg-white h-11" readonly>
              </label>
    
              <label class="block text-neutral-dark-gray font-Roboto text-base sm:text-sm font-bold tracking-wide">
                First name:
                <input type="text" name="first-name" placeholder="Joe" class="w-full p-2 border-2 !border-zinc-300 focus:outline-none focus:!border-primary rounded-md shadow-inner mt-1 font-thin bg-white h-11" required>
              </label>
    
              <label class="block text-neutral-dark-gray font-Roboto text-base sm:text-sm font-bold tracking-wide">
                Last name:
                <input type="text" name="last-name" placeholder="Bloggs" class="w-full p-2 border-2 !border-zinc-300 focus:outline-none focus:!border-primary rounded-md shadow-inner mt-1 font-thin bg-white h-11" required>
              </label>
    
              <label class="block text-neutral-dark-gray font-Roboto text-base sm:text-sm font-bold tracking-wide">
                Grad Year:
                <input type="text" name="position" placeholder="2020" class="w-full p-2 border-2 !border-zinc-300 focus:outline-none focus:!border-primary rounded-md shadow-inner mt-1 font-thin bg-white h-11" required>
              </label>
    
              <label class="block text-neutral-dark-gray font-Roboto text-base sm:text-sm font-bold tracking-wide">
                Position:
                <input type="text" name="position" placeholder="Student" class="w-full p-2 border-2 !border-zinc-300 focus:outline-none focus:!border-primary rounded-md shadow-inner mt-1 font-thin bg-white h-11" required>
              </label>
    
              <label class="block text-neutral-dark-gray font-Roboto text-base sm:text-sm font-bold tracking-wide">
                DOB:
                <input type="date" name="dob" value="01/01/2002" class="w-full p-2 border-2 !border-zinc-300 focus:outline-none focus:!border-primary rounded-md shadow-inner mt-1 font-thin bg-white h-11" required>
              </label>
    
              <label class="block text-neutral-dark-gray font-Roboto text-base sm:text-sm font-bold tracking-wide">
                Email:
                <input type="email" name="email" placeholder="joeblog2020@edugate.no" class="w-full p-2 border-2 !border-zinc-300 focus:outline-none focus:!border-primary rounded-md shadow-inner mt-1 font-thin bg-white h-11" required>
              </label>
    
              <label class="block text-neutral-dark-gray font-Roboto text-base sm:text-sm font-bold tracking-wide">
                School:
                <input type="text" name="school" placeholder="The Academy" class="w-full p-2 border-2 !border-zinc-300 focus:outline-none focus:!border-primary rounded-md shadow-inner mt-1 font-thin bg-white h-11" required>
              </label>
            </div>
            <div class="flex flex-row justify-between w-[402px] mt-4">
              <button id="openUpdateModal" class="bg-[#4CAF50] text-white px-6 py-2 rounded hover:bg-[#45a049] w-[177px] h-[56px] text-3xl text-[1.5rem] whitespace-nowrap font-semibold font-Poppins">
                Update
              </button>
              <button id="openDeleteModal" class="bg-[#FF5722] text-white px-6 py-2 rounded hover:bg-[#f4511e] w-[177px] h-[56px] text-3xl text-[1.5rem] whitespace-nowrap font-semibold font-Poppins">
                Delete user
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </main>
  <footer class="flex justify-end sm:justify-center">
    <img class="sm:hidden p-4 pb-0 w-full" src="../public/img/Circles_illustration_mobile.png" alt="Edugate footer circles mobile">
    <img class="hidden sm:block shrink-0 mx-4 mt-8" src="../public/img/circle-footer.png" alt="Edugate footer circles desktop">
  </footer> <!-- updated footer from the contact page, now the media works for mobile and desktop versions -->
  </div>

  
  <!-- Delete Confirmation Modal -->
<div id="deleteModal" class="fixed inset-0 bg-black bg-opacity-50 hidden items-center justify-center">
  <div class="bg-white p-6 rounded shadow-lg w-96 relative text-left">
    <h2 class="text-neutral-dark-gray font-Poppins text-2xl sm:text-xl font-bold tracking-wide mb-4">Delete this user?</h2>
    <button id="closeModal" class="absolute top-4 right-4 cursor-pointer" title="title">
      <img src="../public/icons/x.png" class="w-4 h-4 hover:bg-neutral-light-gray" alt="">
    </button>
    <p class="text-neutral-dark-gray font-Roboto text-xl sm:text-sm font-normal tracking-wide mb-4">
      Are you sure you want to delete selected user? This action is permanent and cannot be undone.
    </p>
    <div class="flex justify-around gap-2">
      <button class="bg-[#FF5722] text-white px-4 py-2 rounded-md hover:bg-[#E64A19]">Yes, delete user</button>
      <button id="cancelDelete" class="border-[#2196F3] border-solid border-2 text-[#2196F3] px-4 py-2 rounded-md cursor-pointer hover:text-white hover:bg-[#2196F3]">Cancel</button>
    </div>
  </div>
</div>

  <!-- Update confirmation-->
  <div id="updateSuccessful" class="hidden flex flex-row bg-green-100 pl-[22px] pt-[15px] pb-[15px] absolute items-center justify-center inset-0 w-[337px] h-[114px] top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 shadow-lg">
    <img src="../public/img/file-success.svg" class="" alt="">
    <p class="text-green-800 font-Poppins text-[20px] w-[150px] ml-12 mr-4 font-bold">User was successfully updated!</p>
  </div>

  <!-- JavaScript for Modal Functionality -->
<script>
  document.getElementById("openDeleteModal").addEventListener("click", function() {
    document.getElementById("deleteModal").classList.remove("hidden");
    document.getElementById("deleteModal").classList.add("flex");
  });

  document.getElementById("closeModal").addEventListener("click", function() {
    document.getElementById("deleteModal").classList.add("hidden");
  });

  document.getElementById("cancelDelete").addEventListener("click", function() {
    document.getElementById("deleteModal").classList.add("hidden");
  });

  document.getElementById("openUpdateModal").addEventListener("click", function() {
    document.getElementById("updateSuccessful").classList.remove("hidden");
    timeout = setTimeout(closeModal, 3000);
  });

  
  function closeModal() {
    document.getElementById("updateSuccessful").classList.add("hidden");
  }

</script>

</body>

</html>