<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="author" content="Merat Rezvany" />
  <meta name="description"
    content="The Registration page for Edugate. Edugate is a result management system for high schools in Nigeria." />
  <link rel="stylesheet" href="../dist/output.css" />
  <script src="" defer></script>

  <title>Edugate | Registration</title>

</head>

<body class="bg-neutral-light-gray font-Roboto">
  <header class="bg-neutral-light-gray text-neutral-dark-gray font-Poppins h-17.5 md:h-44">
    <nav class="flex items-center justify-between px-4 border-b-2 border-[#D1D1D1]">
      <a href="index.html"><img class="mr-16 w-16 h-16 md:hidden" src="../public/img/logo-header-small-screen.png" alt="Edugate Logo"></a>
      <a href="index.html"><img class="mr-16 w-44 h-44 hidden md:flex" src="../public/img/logo-header.png" alt="Edugate Logo"></a>

      <div class="md:hidden">
        <input type="checkbox" id="menu-toggle" class="hidden peer"/>
        <label for="menu-toggle" class="peer-checked:hidden" aria-label="Toggle menu">
          <img src="../public/icons/hamburger-menu.png" alt="hamburger menu icon toggle button" class="w-6.25 h-6.25 cursor-pointer">
        </label>
        <div class="fixed inset-0 text-neutral-dark-gray z-100 transform translate-x-full peer-checked:translate-x-0 transition-transform duration-300 bg-white">
          <div class="bg-[#F5F5F5] -mt-3.75 py-2">
            <label for="menu-toggle" class="cursor-pointer focus:outline-none" aria-label="Close menu">
              <img src="../public/icons/x-close(1).jpg" alt="hamburger menu icon toggle button" class="w-6.25 h-6.25 mb-4 flex justify-end ml-auto mr-4 mt-4 ">
              <img src="../public/img/logo-header.png" alt="Edugate Logo" class="w-16 h-16 flex mr-4 -mt-14">
            </label>
          </div>
          <ul class="flex flex-col items-end justify-start gap-10 text-xl">
            <li>
              <a href="login-page.html" class="flex items-center gap-5 p-3 border-b-2 border-transparent hover:border-primary">
                Login
                <img class="w-6 h-6" src="../public/icons/login.png" alt="login Icon">
              </a>
            </li>
            <li>
              <a href="sign-up.html" class="flex items-center gap-5 p-3 border-b-2 border-transparent hover:border-primary">
                Sign up
                <img class="w-6 h-6" src="../public/icons/signup.png" alt="signup Icon">
              </a>
            </li>
            <li>
              <a href="about.html" class="flex items-center gap-5 p-3 border-b-2 border-transparent hover:border-primary cursor-pointer">
                About
                <img class="w-6 h-6" src="../public/icons/about.png" alt="About Icon">
              </a>
            </li>
            <li>
              <a href="contact.html" class="flex items-center gap-5 p-3 border-b-2 border-transparent hover:border-primary cursor-pointer">
                Contact
                <img class="w-6 h-6" src="../public/icons/contact.png" alt="Contact Icon">
              </a>
            </li>
          </ul>
        </div>
      </div>
      <ul class="hidden md:flex font-Poppins font-semibold ml-auto text-[1.25rem] items-center justify-center text-center">
        <li>
          <a href="about.html" class="md:px-20 lg:px-31 py-8 border-b-1 border-transparent hover:border-primary cursor-pointer">
            About</a>
        </li>
        <li>
          <a href="contact.html" class="md:px-20 lg:px-31 py-8 border-b-1 border-transparent hover:border-primary cursor-pointer">
            Contact</a>
        </li>
      </ul>
    </nav>
  </header>
  
    <main>
      <div class="md:w-125.75 mx-auto mt-6 px-4 md:px-0 text-left flex flex-col ">
        <form
          class="bg-neutral-light-gray border-0 md:border-3 md:border-[#cccccc] shadow-none md:inset-shadow-md md:inset-shadow-[#cccccc] flex flex-col justify-center items-center"
          action="submit-form-here" method="post">
          <h1 class="text-neutral-dark-gray text-center font-Poppins text-[2rem] font-bold tracking-wide hidden md:flex md:mb-4 md:mt-4">
            Register
          </h1>
          <h1 class="text-neutral-dark-gray text-center font-Poppins text-[2rem] font-bold tracking-wide mb-12 md:hidden">
            Registration
          </h1>
          <div class="flex flex-col">
            <label class=" text-neutral-dark-gray font-Roboto text-base md:text-md font-bold tracking-wide mb-3 "
              for="school">School</label>
            <input
              class="w-90.25 h-12.5 md:w-78.75 bg-white border border-[#cccccc] shadow-[inset_0_4px_4px_rgba(0,0,0,0.3)] rounded-md focus:border-primary focus:ring-0 text-neutral-dark-gray text-md md:text-base placeholder:text-gray-600 p-2 mb-[2rem]"
              type="text" name="school" id="school" placeholder="Edugate" required />
          </div>
          <div class="flex flex-col">
            <label class=" text-neutral-dark-gray font-Roboto text-base md:text-md font-bold tracking-wide mb-3"
              for="address1">Address line 1</label>
            <input
              class="w-90.25 h-12.5 md:w-78.75 bg-white border border-[#cccccc] shadow-[inset_0_4px_4px_rgba(0,0,0,0.3)] rounded-md focus:border-primary focus:ring-0 text-neutral-dark-gray text-md md:text-base placeholder:text-gray-600 p-2 mb-[2rem]"
              type="text" name="address1" id="address1" placeholder="Address" required />
          </div>
          <div class="flex flex-col">
            <label class=" text-neutral-dark-gray font-Roboto text-base md:text-md font-bold tracking-wide mb-3"
              for="address2">Address line 2</label>
            <input
              class="w-90.25 h-12.5 md:w-78.75 bg-white border border-[#cccccc] shadow-[inset_0_4px_4px_rgba(0,0,0,0.3)] rounded-md focus:border-primary focus:ring-0 text-neutral-dark-gray text-md md:text-base placeholder:text-gray-600 p-2 mb-[2rem]"
              type="text" name="address2" id="address2" placeholder="Address" />
          </div>
          <!-- city and postal code -->
           <div class="md:flex-row md:flex md:gap-6">
            <!-- city -->
             <div class="flex flex-col">
               <label class="text-neutral-dark-gray font-Roboto text-base md:text-md font-bold tracking-wide mb-3 md:p-2"
               for="city">City</label>
               <input
               class="md:w-36.5 md:h-12.5 w-90.25 h-12.5 bg-white border border-[#cccccc] shadow-[inset_0_4px_4px_rgba(0,0,0,0.3)] rounded-md focus:border-primary focus:ring-0 text-neutral-dark-gray text-md md:text-base placeholder:text-gray-600 p-2 mb-[2rem] md:mb-0"
               type="text" name="city" id="city" placeholder="Oslo" required />
              </div>
              <!-- postal code -->
              <div class="flex flex-col">
                <label class=" text-neutral-dark-gray font-Roboto text-base md:text-md font-bold tracking-wide mb-3 md:p-2"
                for="postal-code">Postal Code</label>
                <input
                class="md:w-36.5 md:h-12.5 w-90.25 h-12.5 bg-white border border-[#cccccc] shadow-[inset_0_4px_4px_rgba(0,0,0,0.3)] rounded-md focus:border-primary focus:ring-0 text-neutral-dark-gray text-md md:text-base placeholder:text-gray-600 p-2 mb-[2rem] md:mb-0"
                type="text" name="postal-code" id="postal-code" placeholder="0000" required inputmode="numeric" />
              </div>
            </div>
            <!-- submit button -->
          <div class="text-center mb-4 -mt-2 md:mt-8 md:mb-9.5">
            <button type="submit" class="primary-button primary-button:hover shadow-[inset_0_4px_4px_rgba(0,0,0,0.2)]">
              Submit
            </button>
          </div>
        </form>
      </div>
    </main>

    <footer class="flex justify-center">
      <img src="../public/img/circle-footer.png" alt="two colorful circles where one is blue and one is green"
        class="mt-12 hidden md:flex">
      <img src="../public/img/Circles_illustration_mobile.png"
        alt="two colorful circles where one is blue and one is green" class="md:hidden mt-4 flex ml-auto justify-baseline">
    </footer>

</body>

</html>