<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../dist/output.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <script src="https://cdn.tailwindcss.com"></script>

  <title>Edugate | Select User</title>
</head>
<body class="bg-neutral-light-gray font-roboto">

<header class="bg-neutral-light-gray border border-gray-300 border-l-0 border-r-0 border-t-0 text-neutral-dark-gray font-Poppins">
  <nav class="max-w-7x1 flex items-center justify-between px-4">
    <img class="ml-4 mr-16" src="../public/img/logo-header.png" alt="Edugate Logo">

    <!-- Hamburger Menu -->
    <div class="absolute inset-0 md:hidden">
      <!-- Checkbox for Hamburger Toggle -->
      <input type="checkbox" id="menu-toggle" class="hidden peer"/>
      <!-- Hamburger Icon -->
      <label for="menu-toggle" class="absolute top-14 right-4 cursor-pointer focus:outline-none peer-checked:hidden" aria-label="Toggle menu">
          <svg class="w-16 h-16" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"/>
          </svg>
      </label>

      <div class="fixed inset-0 bg-white text-neutral-dark-gray z-50 transform translate-x-full peer-checked:translate-x-0 transition-transform duration-300">
        <!-- Close Icon -->
        <label for="menu-toggle" class="absolute top-4 right-4 cursor-pointer focus:outline-none" aria-label="Close menu">
          <svg class="w-12 h-12 mt-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </label>

        <ul class="flex flex-col items-end justify-start mt-40 h-full gap-10 text-xl mr-8">
          <li class="" >
            <a href="#" class="flex items-center gap-5 p-3 border-b-2 border-white hover:border-primary">
              Dashboard
              <img class="w-6 h-6" src="../public/icons/dashboard.png" alt="Dashboard Icon">
            </a>
          </li>
          <li>
            <a href="#" class="flex items-center gap-5 p-3 border-b-2 border-white hover:border-primary">
              Profile
              <img class="w-6 h-6" src="../public/icons/user-circle.png" alt="Profile Icon">
            </a>
          </li>
          <li>
            <a href="#" class="flex items-center gap-5 p-3 border-b-2 border-white hover:border-primary">
              Manage user
              <img class="w-6 h-6" src="../public/icons/user-management.png" alt="Manage user icon">
            </a>
          </li>
          <li>
            <a href="#" class="flex items-center gap-5 p-3 border-b-2 border-white hover:border-primary">
              About
              <img class="w-6 h-6" src="../public/icons/about.png" alt="About Icon">
            </a>
          </li>
          <li>
            <a href="#" class="flex items-center gap-5 p-3 border-b-2 border-white hover:border-primary">
              Contact
              <img class="w-6 h-6" src="../public/icons/contact.png" alt="Contact Icon">
            </a>
          </li>
          <li>
            <a href="#" class="flex items-center gap-5 p-3 border-b-2 border-white hover:border-accent-hover">
              Log out
              <img class="w-6 h-6" src="../public/icons/logout.png" alt="Log out Icon">
            </a>
          </li>
        </ul>
      </div>
    </div>

    <ul class="hidden md:flex font-Poppins font-medium items-center ml-auto mr-20">
      <li>
          <a href="#" class="py-8 md:px-12 lg:px-20 text-[1.25rem] hover:border hover:border-[#4CAF50] hover:border-l-0 hover:border-r-0 hover:border-t-0 ">
          Dashboard</a>
      </li>
      <li>
          <a href="about.html" class="py-8 md:px-12 lg:px-20 text-[1.25rem] hover:border hover:border-[#4CAF50] hover:border-l-0 hover:border-r-0 hover:border-t-0">
          About</a>
      </li>
      <li>
          <a href="contact.html" class="py-8 md:px-12 lg:px-20 text-[1.25rem] hover:border hover:border-[#4CAF50] hover:border-l-0 hover:border-r-0 hover:border-t-0">
          Contact</a>
      </li>
      </ul>
    <!-- User Dropdown -->
    <div class="relative">
      <!-- Hidden Checkbox -->
      <input type="checkbox" id="dropdown-toggle" class="hidden peer">

      <!-- User Icon (Clickable) -->
      <label
          for="dropdown-toggle"
          class="hidden md:flex w-14 h-14 mr-10 cursor-pointer"
      >
          <img src="../public/icons/user-circle.png" alt="User dropdown">
      </label>

      <!-- Dropdown Menu -->
      <ul class="absolute right-0 mr-8 w-40 text-center border bg-neutral-light-gray border-neutral-light-gray rounded-lg shadow-lg opacity-0 invisible peer-checked:opacity-100 peer-checked:visible transition-opacity duration-200">
        <li>
          <a href="#" class="block px-8 py-4 hover:bg-white hover:text-green-600">See results</a>
        </li>
        <li>
          <a href="#" class="block px-8 py-4 hover:bg-white border-y-2 border-white hover:text-green-600">Profile</a>
        </li>
        <li>
          <a href="#" class="block px-8 py-4 hover:bg-white hover:text-red-600">Log out</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
  
<main class="flex flex-row gap-0 m-0">
  <div id="sidebar" class="sidebar teacher-sidebar hidden lg:flex flex-col gap-12 ml-4">
    <img src="/public/icons/dashboard.png" class="w-[41px]">
    <img src="/public/icons/results.png" class="w-[41px]">
    <img src="/public/icons/user-circle.png" class="w-[41px]">
    <img src="/public/icons/school-management.png" class="w-[41px]">
    <img src="/public/icons/logout.png" class="w-[41px]">
</div>
<!--Sidebar-->
<div id="sidebar-hov" class="teacher-sidebar hidden lg:flex flex-col gap-12 ">
<a href="dashboard-admin.html" class=" rounded-md">
    <img src="/public/icons/dashboard.png" class="w-[41px]"><span>Home</span>
</a>
<a href="add-results.html" class=" rounded-md">
    <img src="/public/icons/results.png" class="w-[41px]"><span>Results Management</span>
</a>
<a href="manage-user.html" class="rounded-md">
    <img src="/public/icons/user-circle.png" class="w-[41px]"><span>User Management</span>
</a>
<a href="add-school.html" class="rounded-md">
    <img src="/public/icons/school-management.png" class="w-[41px]"><span>Top Students</span>
</a>
<a href="/templates" class="rounded-md">
    <img src="/public/icons/logout.png" class="w-[41px]"><span>Logout</span>
</a>
</div>
<section class="flex flex-col gap-12 m-0 w-full sm:pr-[80px] pr-[16px] border-gray-400 pl-4 pt-5">
  <section>
    <nav>
      <ul class="flex text-neutral-medium-gray gap-6 capitalize">
        <li><a href="#">dashboard</a></li>
        <li>></li>
        <li aria-current="page" class="text-primary hover:text-primary-hover hover:cursor-pointer">select user</li>
      </ul>  
    </nav>
  </section> 

  <section class="mx-auto text-center">
    <h1 class="text-neutral-dark-gray text-center font-Poppins text-[32px] font-bold tracking-wide mb-12 sm:mb-4 pb-4">Select user</h1>
    <p class="text-center text-neutral-dark-gray font-Roboto text-xl sm:text-sm font-normal tracking-wide mb-12 sm:mb-4">Search for the user below &amp; select to make changes to their info:</p>

    <div class="flex justify-center">
      <input type="text" id="search-bar" placeholder="Search for user..." aria-label="Search for user" class="bg-white border border-r-0 !border-table-clicked rounded-l-md p-2.5 focus:border focus:border-r-0 focus:!border-primary focus:outline-none">
      <button class="bg-white px-3 border !border-primary rounded-r-md hover:!bg-primary group">
        <img src="../public/icons/search.png" alt="" class="bg-white h-5 group-hover:hidden">
        <img src="../public/icons/search-on-hover.png" alt="" class="hidden h-5 group-hover:block">
      </button>
    </div>

  </section> 
  <div class="hidden sm:flex sm:justify-end">
    <a href="admins/admin-add-user.html"><button class="primary-button">Add user</button></a>
  </div>
  <section class="flex flex-col max-w-full gap-6">


    <table class="bg-table">
      <thead class="w-full ">
        <tr class="justify-end text-left capitalize text-primary">
          <th class="p-4 uppercase text-2xl">id</th>
          <th class="hidden p-4 md:table-cell text-2xl">first name</th>
          <th class="p-4 text-2xl">last name</th>
          <th class="hidden p-4 lg:table-cell text-2xl">year</th>
          <th class="hidden p-4 sm:table-cell text-2xl">role</th>
          <th class="hidden p-4 uppercase lg:table-cell text-2xl">dob</th>
        </tr> 
      </thead>
      <tbody class="text-base lg:text-xl text-neutral-dark-gray">
                    
      </tbody>
    </table>  


    <div class="flex max-w-full !text-gray-600 gap-4 mx-auto pt-4">
      <button class="w-10 h-10 border rounded-md !border-gray-300 bg-white">
        <img src="../public/icons/chevron-double-left.png" alt="" class="justify-center h-4 mx-auto">
      </button>
      <button class="w-10 h-10 border rounded-md !border-gray-300 bg-white">
        <img src="../public/icons/chevron-left.png" alt="" class="h-4 mx-auto">
      </button>
      <button class="w-10 h-10 text-xl border-2 rounded-md !border-primary bg-white">1</button>
      <button class="hidden sm:block sm:w-10 sm:h-10 sm:text-xl sm:border sm:rounded-md sm:!border-gray-600 bg-white">2</button>
      <button class="w-10 h-10 text-xl border rounded-md !border-gray-600 bg-white">...</button>
      <button class="hidden sm:w-10 sm:h-10 sm:text-xl sm:border sm:rounded-md sm:!border-gray-600 bg-white">7</button>
      <button class="w-10 h-10 text-xl border rounded-md !border-gray-600 bg-white">8</button>
      <button class="w-10 h-10 border rounded-md !border-gray-600 bg-white">
        <img src="../public/icons/chevron-right.png" alt="" class="h-4 mx-auto">
      </button>
      <button class="w-10 h-10 border rounded-md !border-gray-600 bg-white">
        <img src="../public/icons/chevron-double-right.png" alt="" class="h-4 mx-auto">
      </button>
    </div> 

    <a href="#" class="mx-auto pt-12">
      <button class="secondary-button">Back to dashboard</button>
    </a>

  </section> 
</section>
</main>

<footer class="flex justify-end sm:justify-center">
  <img class="sm:hidden p-4 pb-0 w-full" src="../public/img/Circles_illustration_mobile.png" alt="Edugate footer circles mobile">
  <img class="hidden sm:block shrink-0 mx-4 mt-8" src="../public/img/circle-footer.png" alt="Edugate footer circles">
</footer>

<script>
  const data = [
    {ID: 1921840,FirstName: "Joe",LastName: "Bloggs",Year: 2020,Role: "Student",DOB: "01/01/2002"},
    {ID: 1921840,FirstName: "Joe",LastName: "Bloggs",Year: 2020,Role: "Student",DOB: "01/01/2002"},
    {ID: 2035168,FirstName: "Leslie",LastName: "Swanson",Year: "-",Role: "Teacher",DOB: "03/02/1971"},
    {ID: 2035168,FirstName: "Leslie",LastName: "Swanson",Year: "-",Role: "Teacher",DOB: "03/02/1971"},
    {ID: 1921840,FirstName: "Joe",LastName: "Bloggs",Year: 2020,Role: "Student",DOB: "01/01/2002"},
    {ID: 1921840,FirstName: "Joe",LastName: "Bloggs",Year: 2020,Role: "Student",DOB: "01/01/2002"},
    {ID: 1921840,FirstName: "Joe",LastName: "Bloggs",Year: 2020,Role: "Student",DOB: "01/01/2002"}
  ]; 
  const tableBody = document.querySelector("tbody");
  var defaultUser = data;
             
  const populate = (data, i) => {
    data.forEach((user, i) => { 
          const row = document.createElement("tr");
          row.classList.add("text-xl", "text-neutral-dark-gray", "bg-neutral-light-gray", "hover:bg-table-hover", "hover:cursor-default");
          row.innerHTML = `
      <tr class="">
        <td class="p-4">${user.ID}</td>
        <td class="hidden p-4 md:table-cell">${user.FirstName}</td>
        <td class="p-4">${user.LastName}</td>
        <td class="hidden p-4 lg:table-cell">${user.Year}</td>
        <td class="hidden p-4 sm:table-cell">${user.Role}</td>
        <td class="hidden p-4 lg:table-cell">${user.DOB}</td>
        <td class="p-4" style="text-align: right; ">
          <a href="/templates/manage-user.html">
            <button class="!text-primary">Edit</button>
          </a>
        </td>
        <td class="hidden pr-4 sm:table-cell w-[100px]" style="text-align: right;"> 
          <input type="checkbox" id="delete-checkbox-${i}" aria-label="delete user" class="peer hidden">
          <label for="delete-checkbox-${i}" class="alert-button text-[16px] cursor-pointer">Delete</label>
        <div class="fixed inset-0 bg-black bg-opacity-50 hidden peer-checked:flex items-center justify-center">
          <div class="bg-white p-6 rounded shadow-lg w-96 relative text-left">
            <h2 class="text-neutral-dark-gray font-Poppins text-2xl sm:text-xl font-bold tracking-wide mb-4">Delete this user?</h2>
            <label for="delete-checkbox-${i}" class="absolute top-4 right-4 cursor-pointer">
              <img src="../public/icons/x.png" class="w-4 h-4 hover:bg-neutral-light-gray">
            </label>
            <p class="text-neutral-dark-gray font-Roboto text-xl sm:text-sm font-normal tracking-wide mb-4">Are you sure you want to delete selected user? This action is permanent and cannot be undone.</p>
            <div class="flex justify-around gap-2">
            <button onclick="deleteClickHandler(${i})" class="bg-[#FF5722] text-white px-4 py-2 rounded-md hover:bg-[#E64A19]">Yes, delete user</button>
            <label for="delete-checkbox-${i}" class="border-[#2196F3] border-solid border-2 text-[#2196F3] px-4 py-2 rounded-md cursor-pointer hover:text-white hover:bg-[#2196F3]">Cancel</label>
          </div>
          </div>
        </div>
        </td>
      </tr>
          `;
          tableBody.appendChild(row);
      });
}

  document.addEventListener("DOMContentLoaded", function () {        
      populate(defaultUser);
  });
  document.querySelector("input[type='text']").addEventListener("input", (e) => {
  const searchQuery = e.target.value.toLowerCase();
  
  const filteredData = defaultUser.filter(user => 
      user.FirstName.toLowerCase().includes(searchQuery) || 
      user.LastName.toLowerCase().includes(searchQuery) ||
      user.ID.toString().includes(searchQuery) ||
      user.Role.toLowerCase().includes(searchQuery)
  );
  document.querySelector("tbody").innerHTML = ""; 
  populate(filteredData);
});

const deleteClickHandler = (index)=>{
  defaultUser.splice(index, 1);
  document.querySelector("tbody").innerHTML = ""; 
  populate(defaultUser)  
}
</script>

</body>
</html>